{% extends "layout-landing-employer.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../employer/includes/navigation-employer.html" %}

<div id="service-title-section" class="landing-page  ">
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <a href="approve-rpl.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper govuk-!-margin-top-6 " id="main-content" role="main">



    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">View apprentice details</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        new
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        persin
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        new@new.com
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Unique learner number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        --
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        31 Mar 2000
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship training course
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Academic professional, Level: 7
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Version
                    </dt>
                    <dd class="govuk-summary-list__value">
                        1.0
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Option
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Teaching
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Planned training start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        September 2022
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Planned training end date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        September 2025
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Duration reduction due to prior learning
                    </dt>
                    <dd class="govuk-summary-list__value">
                        13 weeks
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Price reduction due to prior learning
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £2,000
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total agreed apprenticeship price
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £10,000
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        --
                    </dd>
                </div>
            </dl>
        </div>
    </div>


    <a class="govuk-link" href="/WRN97X/unapproved/YJWLP4" id="return-link">Return to group of apprentices</a>


</main>
    </div>
</div>



{% endblock %}
