
{% extends "layout-email.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div class="email-banner">
          <img src="/public/images/ESFA-logo.jpg" alt="Education & Skills Funding Agency">
     </div>
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-m">
                    Apprentice commitment service
                    <br>
                    <br>
                    Hi "NAME",
               </h1>

               <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare posuere. Donec et urna euismod,
                    aliquet mi eget, convallis neque. Morbi blandit neque eget risus ultricies commodo. Quisque dapibus ultricies
                    dolor in gravida. Integer id <a href="#">elementum mauris</a>. Nullam nulla tellus, accumsan at purus sit amet, malesuada dapibus nulla.
               </p>

               <p class="govuk-body">
                    Quisque pellentesque eros non tortor fringilla pretium. Aenean mattis lorem arcu, nec auctor orci pharetra et.
                    Curabitur vestibulum, <a href="#">sem sit amet tempus porta</a>, nisl nisl elementum nisi, vel pretium mi nisi sit amet elit.
                    Proin ac volutpat lorem. Sed commodo ut turpis id bibendum.
               </p>

               <br>

               {% from "govuk/components/button/macro.njk" import govukButton %}

               {{ govukButton({
                    text: "Sign commitment statement",
                    classes: "no-bottom-margin",
                    href: "../sign-in/index"
               }) }}

               <br>
               <br>

          </div>

     </div>

{% endblock %}
