
{% extends "layout-email.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div class="email-banner">
          <img src="/public/images/ESFA-logo.jpg" alt="Education & Skills Funding Agency">
     </div>
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-m">
                    Apprentice commitment service
                    <br>
                    <br>
                    Hi Joe Bloggs,
               </h1>

               <p class="govuk-body">
                    You are starting a new apprenticeship. You will need to log in to your apprenticeship account and confirm your apprenticeship by confirming and agreeing to some details.
               </p>

               {% from "govuk/components/button/macro.njk" import govukButton %}

               {{ govukButton({
                    text: "Log in to your account ",
                    classes: "no-bottom-margin",
                    href: "../sign-in/index"
               }) }}

               <br>
               <br>

          </div>

     </div>

{% endblock %}
