<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

    <div id="wrapper" class="govuk-form-group autocomplete-wrapper" ">
      <label class="govuk-label" for="sort">{{country_module_label or "Search for a qualification type "}}</label>
      <select id="autocomplete-progressiveEnhancement" class="govuk-select" id="sort"
        name="{{module_name or 'countrySelect'}}">
        <option value="none"></option>
        <option value="">Please select the qualification type</option>
        <option value="0">First certificate</option>
        <option value="1">GCSE - grades 3, 2, 1 or grades D, E, F, G</option>
        <option value="2">Level 1 award</option>
        <option value="3">Level 1 certificate</option>
        <option value="4">Level 1 diploma</option>
        <option value="5">Level 1 ESOL</option>
        <option value="6">Level 1 essential skills</option>
        <option value="7">Level 1 functional skills</option>
        <option value="8">Level 1 national vocational qualification (NVQ)</option>
        <option value="9">Music grades 1, 2 and 3</option>
        <option value="">Please select the qualification type</option>
        <option value="0">CSE - grade 1</option>
        <option value="1">GCSE - grades 9, 8, 7, 6, 5, 4 or grades A*, A, B, C</option>
        <option value="2">Intermediate apprenticeship</option>
        <option value="3">Level 2 award</option>
        <option value="4">Level 2 certificate</option>
        <option value="5">Level 2 diploma</option>
        <option value="6">Level 2 ESOL</option>
        <option value="7">Level 2 essential skills</option>
        <option value="8">Level 2 functional skills</option>
        <option value="9">Level 2 national certificate</option>
        <option value="10">Level 2 national diploma</option>
        <option value="11">Level 2 NVQ</option>
        <option value="12">Music grades 4 and 5</option>
        <option value="13">O level - grade A, B or C</option>
        <option value="">Please select the qualification type</option>
        <option value="0">A level</option>
        <option value="1">Access to higher education diploma</option>
        <option value="2">Advanced apprenticeship</option>
        <option value="3">Applied general</option>
        <option value="4">AS level</option>
        <option value="5">International Baccalaureate diploma</option>
        <option value="6">Level 3 award</option>
        <option value="7">Level 3 certificate</option>
        <option value="8">Level 3 diploma</option>
        <option value="9">Level 3 ESOL</option>
        <option value="10">Level 3 national certificate</option>
        <option value="11">Level 3 national diploma</option>
        <option value="12">Level 3 NVQ</option>
        <option value="13">Music grades 6, 7 and 8</option>
        <option value="14">T Level</option>
        <option value="15">Tech level</option>
        <option value="">Please select the qualification type</option>
        <option value="0">Certificate of higher education (CertHE)</option>
        <option value="1">Higher apprenticeship</option>
        <option value="2">Higher national certificate (HNC)</option>
        <option value="3">Level 4 award</option>
        <option value="4">Level 4 certificate</option>
        <option value="5">Level 4 diploma</option>
        <option value="6">Level 4 NVQ</option>
        <option value="">Please select the qualification type</option>
        <option value="0">Diploma of higher education (DipHE)</option>
        <option value="1">Foundation degree</option>
        <option value="2">Higher national diploma (HND)</option>
        <option value="3">Level 5 award</option>
        <option value="4">Level 5 certificate</option>
        <option value="5">Level 5 diploma</option>
        <option value="6">Level 5 NVQ</option>
        <option value="">Please select the qualification type</option>
        <option value="0">Degree apprenticeship</option>
        <option value="1">Degree with honours - for example bachelor of the arts (BA) hons, bachelor of science (BSc)
          hons</option>
        <option value="2">Graduate certificate</option>
        <option value="3">Graduate diploma</option>
        <option value="4">Level 6 award</option>
        <option value="5">Level 6 certificate</option>
        <option value="6">Level 6 diploma</option>
        <option value="7">Level 6 NVQ</option>
        <option value="8">ordinary degree without honours</option>
        <option value="">Please select the qualification type</option>
        <option value="0">Integrated master’s degree, for example master of engineering (MEng)</option>
        <option value="1">Level 7 award</option>
        <option value="2">Level 7 certificate</option>
        <option value="3">Level 7 diploma</option>
        <option value="4">Level 7 NVQ</option>
        <option value="5">Master’s degree, for example master of arts (MA), master of science (MSc)</option>
        <option value="6">Postgraduate certificate</option>
        <option value="7">Postgraduate certificate in education (PGCE)</option>
        <option value="8">Postgraduate diploma</option>
        <option value="">Please select the qualification type</option>
        <option value="0">Doctorate, for example doctor of philosophy (PhD or DPhil)</option>
        <option value="1">Level 8 award</option>
        <option value="2">Level 8 certificate</option>
        <option value="3">Level 8 diploma</option>
        <option value="100">Other</option>
      </select>
    </div>

  </fieldset>

</div>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function () {

    var element = document.querySelector('#autocomplete-progressiveEnhancement');
    var cl = $('#autocomplete-progressiveEnhancement').attr('name');

    accessibleAutocomplete.enhanceSelectElement({
      selectElement: element,
      name: cl

    });
  });
</script>