{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ERROR MESSAGE - START -->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li><a href="#apprentice-issued-error">Please check the box to agree that your personal details, the apprenticeship details and the estimated weekly hours are correct</a></li>
                         </ul>
                    </div>
               </div>
               <!-- ERROR MESSAGE - END -->

               <h1 class="govuk-heading-xl">Confirm these details are correct</h1>

               <form method="post" action="" class="apprentice-details check-answers-page">

                    <h2 class="govuk-heading-m" id="personal-details-text">
                         Personal details
                         <a href="4-wrong-info" class="main-change-link">Change</a>
                    </h2>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">Joe Bloggs</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Date of birth</th>
                                   <td class="govuk-table__cell">24/08/1998</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Email</th>
                                   <td class="govuk-table__cell">{{ data['apprentice-email'] }}</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Mobile</th>
                                   <td class="govuk-table__cell">+44 7974 123 456</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Postcode</th>
                                   <td class="govuk-table__cell">OX12 9FB</td>
                              </tr>
                         </tbody>
                    </table>

                    <p>&nbsp;</p>

                    <h2 class="govuk-heading-m" id="apprenticeship-details-text">
                         Apprenticeship details
                         <a href="4-wrong-info" class="main-change-link">Change</a>
                    </h2>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship</th>
                                   <td class="govuk-table__cell">Military Engineering Construction Technician</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Option</th>
                                   <td class="govuk-table__cell">
                                        <ul class="govuk-list govuk-list--bullet">
                                             <li>Carpenter & Joiner</li>
                                             <li>Bricklayer & Concreter</li>
                                             <li>Building & Structural Finisher</li>
                                             <li>Plumbing & Heating Engineer</li>
                                             <li>Plant Operator & Mechanic</li>
                                        </ul>
                                   </td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Level</th>
                                   <td class="govuk-table__cell">3</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Version</th>
                                   <td class="govuk-table__cell">1.2</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Duration</th>
                                   <td class="govuk-table__cell">1 year</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Planned start date</th>
                                   <td class="govuk-table__cell">2 March 2021</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Planned end date</th>
                                   <td class="govuk-table__cell">3 March 2022</td>
                              </tr>
                         </tbody>
                    </table>

                    <p>&nbsp;</p>

                    <h2 class="govuk-heading-m" id="hours-details-text">
                         Estimated weekly hours
                         <a href="4-wrong-info" class="main-change-link">Change</a>
                    </h2>

                    <p>
                         At least 20% of your time will be on ‘off-the-job’ apprenticeship training. You may agree with your
                         employer to train one day a week, one week out of the month, or to spread the equivalent hours across
                         the week.
                    </p>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">On the job</th>
                                   <td class="govuk-table__cell">32</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship training</th>
                                   <td class="govuk-table__cell">8</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Total</th>
                                   <td class="govuk-table__cell">40</td>
                              </tr>
                         </tbody>
                    </table>

                    <!-- CHECK BOX - CONFIRM - START -->
                    <div class="govuk-form-group check-to-confirm apprentice-error-panel">
                         <fieldset class="govuk-fieldset" aria-describedby="apprentice-hint">
                              <span id="apprentice-issued-error" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> Please check the box to confirm the details are correct
                              </span>
                              <div class="govuk-checkboxes">
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="apprentice-confirm" name="apprentice-confirm" type="checkbox" value="apprentice-confirm">
                                        <label class="govuk-label govuk-checkboxes__label" for="apprentice-confirm">
                                             Please check the box to agree that your <a href="#personal-details-text">personal details</a>,
                                             the <a href="#apprenticeship-details-text">apprenticeship details</a> and
                                             <a href="#hours-details-text">estimated weekly hours</a> details are correct
                                        </label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
                    <!-- CHECK BOX - CONFIRM - END -->

                    <button class="govuk-button" data-module="govuk-button" id="apprentice-details">Confirm</button>

               </form>

          </div>
     </div>


</div>
{% endblock %}
