{% extends "layout-provider.v1.html" %}

{% block pageTitle %}
Approve apprentice details - Apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="govuk-width-container " id="landing-page-section">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You can’t approve this apprentice request until:
          </p>
          <ul>
            <li>all apprentice records are complete</li>
          </ul>
        </div>
      </div>

    </div>
  </div>



  <h1 class="govuk-heading-xl">Approve 4 apprentices&#x27; details</h1>
  <dl class="das-definition-list das-definition-list--inline">
    <dt class="das-definition-list__title govuk-!-margin-bottom-4">Employer</dt>
    <dd class="das-definition-list__definition govuk-!-margin-bottom-4">TEST &amp; MAINTAIN LIMITED</dd>
    <dt class="das-definition-list__title govuk-!-margin-bottom-4">Cohort reference</dt>
    <dd class="das-definition-list__definition govuk-!-margin-bottom-4">N4YLKY</dd>
    <dt class="das-definition-list__title govuk-!-margin-bottom-4">Status</dt>
    <dd class="das-definition-list__definition">New request</dd>
  </dl>

  <h2 class="govuk-heading-s">Message:</h2>
  <div class="govuk-inset-text">
    <span>No message added.</span>
  </div>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h3 class="govuk-heading-m">
    <span class="govuk-!-margin-right-2">4 x Stonemason, Level: 2</span>
  </h3>
  <div class="govuk-inset-text das-inset-text--highlight">
    <h3 class="govuk-heading-s">Apprentice record incomplete</h3>
    <p>
      You must complete the apprentice record to be able to approve
    </p>
  </div>
  <div class="govuk-inset-text das-inset-text--highlight">
    <h3 class="govuk-heading-s">2 apprenticeships above funding band maximum</h3>
    <p>
      The price for these apprenticeships is above the
      <text><a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding
          band maximum</a> of &#xA3;11,000.</text>
      You'll need to ask the employer to pay the difference directly to you - this can't be funded from their account.
    </p>
  </div>
  <table class="govuk-table das-table--responsive  das-table--condensed">
    <thead class="govuk-table__head govuk-body-s">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header das-table-cell-width-25">Name</th>
        <th scope="col" class="govuk-table__header das-table-cell-width-15">Unique learner number</th>
        <th scope="col" class="govuk-table__header das-table-cell-width-10">Date of birth</th>
        <th scope="col" class="govuk-table__header das-table-cell-width-30">Training dates</th>
        <th scope="col" class="govuk-table__header das-table-cell-width-20">Price</th>
        <th scope="col" class="govuk-table__header das-table-cell-width-5"><span
            class="govuk-visually-hidden">Action</span></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-label="Name">
          <span class="das-table-cell--highlight das-breakable">Last Mason</span>
        </td>
        <td class="govuk-table__cell" data-label="Unique learner number">6932400218</td>
        <td class="govuk-table__cell" data-label="Date of birth">1 Jan 2000</td>
        <td class="govuk-table__cell" data-label="Training dates">
          - </td>


        <td class="govuk-table__cell" data-label="Price">
          - </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link edit-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/YNPXN8/edit">
            Edit
            <span class="govuk-visually-hidden">Last Mason's details</span>
          </a>
          <br /><br />
          <a class="govuk-link delete-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/YNPXN8/Delete">
            Delete <span class="govuk-visually-hidden">Last Mason </span>
          </a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-label="Name">
          Regular Joe Mason </td>
        <td class="govuk-table__cell" data-label="Unique learner number">3200418078</td>
        <td class="govuk-table__cell" data-label="Date of birth">1 Jan 2000</td>
        <td class="govuk-table__cell" data-label="Training dates">
          Mar 2023 to Dec 2025 </td>


        <td class="govuk-table__cell" data-label="Price">
          <span class="das-table-cell--highlight">
            &#xA3;12,000
          </span>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link edit-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/6RNWRN/edit">
            Edit
            <span class="govuk-visually-hidden">Regular Joe Mason's details</span>
          </a>
          <br /><br />
          <a class="govuk-link delete-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/6RNWRN/Delete">
            Delete <span class="govuk-visually-hidden">Regular Joe Mason </span>
          </a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-label="Name">
          Rock Mason </td>
        <td class="govuk-table__cell" data-label="Unique learner number">7206891313</td>
        <td class="govuk-table__cell" data-label="Date of birth">1 Jan 2000</td>
        <td class="govuk-table__cell" data-label="Training dates">
          Mar 2023 to Mar 2033 </td>


        <td class="govuk-table__cell" data-label="Price">
          <span class="das-table-cell--highlight">
            &#xA3;16,000
          </span>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link edit-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/LBJGJK/edit">
            Edit
            <span class="govuk-visually-hidden">Rock Mason's details</span>
          </a>
          <br /><br />
          <a class="govuk-link delete-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/LBJGJK/Delete">
            Delete <span class="govuk-visually-hidden">Rock Mason </span>
          </a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-label="Name">
          Stone Mason </td>
        <td class="govuk-table__cell" data-label="Unique learner number">8055386918</td>
        <td class="govuk-table__cell" data-label="Date of birth">1 Jan 2000</td>
        <td class="govuk-table__cell" data-label="Training dates">
          Mar 2023 to Jun 2029 </td>


        <td class="govuk-table__cell" data-label="Price">
          &#xA3;10,000 </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a class="govuk-link edit-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/LBJLWP/edit">
            Edit
            <span class="govuk-visually-hidden">Stone Mason's details</span>
          </a>
          <br /><br />
          <a class="govuk-link delete-apprentice" href="/10001259/unapproved/P9W4BK/apprentices/LBJLWP/Delete">
            Delete <span class="govuk-visually-hidden">Stone Mason </span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header das-table-cell-width-80" scope="row">Total apprenticeship training price
          <br>(excluding VAT)</th>
        <td class="govuk-table__cell govuk-table__header--numeric das-table-cell-width-20"><strong>&#xA3;38,000</strong>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <a class="govuk-link add-apprentice"
      href="/10001259/unapproved/P9W4BK/apprentices/add/reservation?AccountLegalEntityHashedId=R5WE96">
      Add another apprentice
    </a>
    <a class="govuk-link das-float-right delete-cohort" id="delete-cohort"
      href="/10001259/unapproved/P9W4BK/details/delete">
      Delete this cohort
    </a>
  </p>
  <hr class="govuk-section-break govuk-section-break--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="submitCohort" novalidate method="post" action="confirm-add-apprentice">
        <div class="govuk-form-group  ">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">Submit to employer?</h3>
            </legend>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Selection"
              data-valmsg-replace="true" id="error-message-Selection"></span>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes, send to employer to review or add details
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="send-details">
                        Leave TEST &amp; MAINTAIN LIMITED a message (optional)
                      </label>
                      <textarea class="govuk-textarea" id="send-details" name="sendmessage" rows="5"></textarea>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No, save and return to apprentice request
                  </label>
                </div>
              </div>
          </fieldset>
        </div>





        <button type="submit" id="continue-button" class="govuk-button">Save and submit</button>
        <br />
        <a class="govuk-link" id="save-and-exit-cohort" href="/10001259/unapproved">
          Save and exit
        </a>

      </form>
    </div>
  </div>




</div>
{% endblock %}