{% extends "layout-provider.v1.html" %}

{% block pageTitle %}
Add recognition of prior learning details - Apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="govuk-width-container " id="landing-page-section">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Add evidence of recognition of prior learning details
            </h1>
          </legend>
        </fieldset>

        <form action="check-your-answers-apprentice">


          <div class="govuk-form-group govuk-!-margin-top-9">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Qualifications that contributed to the
              reduction in apprenticeship training time</label>
            <p><span id="price-hint" class="govuk-hint">
                List the qualification that offers the most RPL for a reduction in training time
                <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
                  class="govuk-link" target="_blank">What qualification levels mean (opens in new tab)</a>


              </span></p>

            <select class="govuk-select govuk-!-width-three-quarters" aria-describedby="course-name-hint"
              id="qualificationLevel" name="qualificationLevel">
              <option value="">Please select an option</option>
              <option value="0">Not applicable</option>
              <option value="1">Level 1</option>
              <option value="2">Level 2</option>
              <option value="3">Level 3</option>
              <option value="4">Level 4</option>
              <option value="5">Level 5</option>
              <option value="6">Level 6</option>
              <option value="7">Level 7</option>
              <option value="8">Level 8</option>
            </select>

            <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-3" for="Cost">Qualification
              type</label>
            <p><span id="qualificationType-hint" class="govuk-hint">
                List the specific qualification type
              </span></p>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
              
                  <div id="wrapper" class="govuk-form-group autocomplete-wrapper" ">
                    <label class="govuk-label" for="sort">{{country_module_label or "Search for a qualification type "}}</label>
                    <select id="autocomplete-progressiveEnhancement" class="govuk-select govuk-!-width-three-quarters" id="sort"
                      name="{{module_name or 'countrySelect'}}">
                      <option value="">Please select the qualification type</option>
                      <option value="0">First certificate</option>
                      <option value="1">GCSE - grades 3, 2, 1 or grades D, E, F, G</option>
                      <option value="2">Level 1 award</option>
                      <option value="3">Level 1 certificate</option>
                      <option value="4">Level 1 diploma</option>
                      <option value="5">Level 1 ESOL</option>
                      <option value="6">Level 1 essential skills</option>
                      <option value="7">Level 1 functional skills</option>
                      <option value="8">Level 1 national vocational qualification (NVQ)</option>
                      <option value="9">Music grades 1, 2 and 3</option>
                      <option value="0">CSE - grade 1</option>
                      <option value="1">GCSE - grades 9, 8, 7, 6, 5, 4 or grades A*, A, B, C</option>
                      <option value="2">Intermediate apprenticeship</option>
                      <option value="3">Level 2 award</option>
                      <option value="4">Level 2 certificate</option>
                      <option value="5">Level 2 diploma</option>
                      <option value="6">Level 2 ESOL</option>
                      <option value="7">Level 2 essential skills</option>
                      <option value="8">Level 2 functional skills</option>
                      <option value="9">Level 2 national certificate</option>
                      <option value="10">Level 2 national diploma</option>
                      <option value="11">Level 2 NVQ</option>
                      <option value="12">Music grades 4 and 5</option>
                      <option value="13">O level - grade A, B or C</option>
                      <option value="0">A level</option>
                      <option value="1">Access to higher education diploma</option>
                      <option value="2">Advanced apprenticeship</option>
                      <option value="3">Applied general</option>
                      <option value="4">AS level</option>
                      <option value="5">International Baccalaureate diploma</option>
                      <option value="6">Level 3 award</option>
                      <option value="7">Level 3 certificate</option>
                      <option value="8">Level 3 diploma</option>
                      <option value="9">Level 3 ESOL</option>
                      <option value="10">Level 3 national certificate</option>
                      <option value="11">Level 3 national diploma</option>
                      <option value="12">Level 3 NVQ</option>
                      <option value="13">Music grades 6, 7 and 8</option>
                      <option value="14">T Level</option>
                      <option value="15">Tech level</option>
                      <option value="0">Certificate of higher education (CertHE)</option>
                      <option value="1">Higher apprenticeship</option>
                      <option value="2">Higher national certificate (HNC)</option>
                      <option value="3">Level 4 award</option>
                      <option value="4">Level 4 certificate</option>
                      <option value="5">Level 4 diploma</option>
                      <option value="6">Level 4 NVQ</option>
                      <option value="0">Diploma of higher education (DipHE)</option>
                      <option value="1">Foundation degree</option>
                      <option value="2">Higher national diploma (HND)</option>
                      <option value="3">Level 5 award</option>
                      <option value="4">Level 5 certificate</option>
                      <option value="5">Level 5 diploma</option>
                      <option value="6">Level 5 NVQ</option>
                      <option value="0">Degree apprenticeship</option>
                      <option value="1">Degree with honours - for example bachelor of the arts (BA) hons, bachelor of science (BSc)
                        hons</option>
                      <option value="2">Graduate certificate</option>
                      <option value="3">Graduate diploma</option>
                      <option value="4">Level 6 award</option>
                      <option value="5">Level 6 certificate</option>
                      <option value="6">Level 6 diploma</option>
                      <option value="7">Level 6 NVQ</option>
                      <option value="8">Ordinary degree without honours</option>
                      <option value="0">Integrated master’s degree, for example master of engineering (MEng)</option>
                      <option value="1">Level 7 award</option>
                      <option value="2">Level 7 certificate</option>
                      <option value="3">Level 7 diploma</option>
                      <option value="4">Level 7 NVQ</option>
                      <option value="5">Master’s degree, for example master of arts (MA), master of science (MSc)</option>
                      <option value="6">Postgraduate certificate</option>
                      <option value="7">Postgraduate certificate in education (PGCE)</option>
                      <option value="8">Postgraduate diploma</option>
                      <option value="0">Doctorate, for example doctor of philosophy (PhD or DPhil)</option>
                      <option value="1">Level 8 award</option>
                      <option value="2">Level 8 certificate</option>
                      <option value="3">Level 8 diploma</option>
                      <option value="100">Other</option>
                    </select>
                  </div>
              
                </fieldset>
              
              </div>
              

            <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-3" for="Cost">Qualification industry
              sector</label>
            <select class="govuk-select govuk-!-width-three-quarters" aria-describedby="course-name-hint"
              id="CourseCode" name="CourseCode">
              <option value="">Please select the industry</option>
              <option value="274">Agriculture, environmental and animal care </option>
              <option value="274">Business and administration </option>
              <option value="274">Care services </option>
              <option value="274">Catering and hospitality </option>
              <option value="274">Construction and the built environment </option>
              <option value="274">Creative and design </option>
              <option value="274">Digital </option>
              <option value="274">Education and childcare </option>
              <option value="274">Engineering and manufacturing </option>
              <option value="274">Hair and beauty </option>
              <option value="274">Health and science </option>
              <option value="274">Legal finance and accounting </option>
              <option value="274">Protective services </option>
              <option value="274">Sales marketing and procurement </option>
              <option value="274">Transport and logistics </option>
            </select>
          </div>

          <div class="govuk-form-group govuk-!-margin-top-9">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Experience that contributed to the
              reduction in apprenticeship training time</label>
            <span id="price-hint" class="govuk-hint">
              List the duration of any experience that is being recognised as a reduction in training time
            </span>
            <br />
            <select class="govuk-select govuk-!-width-three-quarters" aria-describedby="course-name-hint"
              id="CourseCode" name="CourseCode">
              <option value="">Please select an option</option>
              <option value="0">Not applicable</option>
              <option value="274">Less than 6 months</option>
              <option value="272">6 months - 1 year</option>
              <option value="176">1 year</option>
              <option value="176">2 years</option>
              <option value="176">3 years</option>
              <option value="176">4 years</option>
              <option value="176">5 years</option>
              <option value="176">More than 5 years</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Was experience was in relevant occupation?
                </h1>
              </legend>
              <div id="contact-hint" class="govuk-hint">
                <!-- Select one option. -->
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button govuk-!-margin-top-9" data-module="govuk-button" id="employer-details">Save and
            continue</button>
        </form>
      </div>

    </div>
  </div>

</div>

{% endblock %}