

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary das-hide" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" id="validationSummary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list" id="validationSummaryErrorList">

            </ul>
        </div>
    </div>

        <h1 class="govuk-heading-xl">Select a standard option</h1>
        <div class="govuk-inset-text">
            For more information visit <a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/stonemason-v1-1" target="_blank" class="govuk-link">the IfATE page for this standard (opens in a new tab)</a>
        </div>
        <table class="govuk-table">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Apprenticeship training course</th>
                <td class="govuk-table__cell">Stonemason, Level: 2</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Version</th>
                <td class="govuk-table__cell">1.1</td>
            </tr>
        </table>
    </div>
</div>
<form method="post" action="/10001259/unapproved/P9W4BK/apprentices/LBJLWP/select-options">
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MP_mMqVpxxFtt80SHTBCakLoPXAHbavpG_psf0GqaFPKsa4-bxGTbw0w-oYPiua5DG0FIJCQ4F4AVivxbnYOcQdhRghRCS4ACF390A2RYNrfxpH7How-9eVscw1pzKMYbdG3K5ppGa7qPaMDm9CSrERsdSo7UGYyUuYEl4GrUZtKn9MuOnVlfAlRpgCvHlo3w" />
    <input type="hidden" data-val="true" data-val-required="The CohortId field is required." id="CohortId" name="CohortId" value="205131" />
    <input type="hidden" data-val="true" data-val-required="The ProviderId field is required." id="ProviderId" name="ProviderId" value="10001259" />
    <input type="hidden" id="CohortReference" name="CohortReference" value="P9W4BK" />
    <input type="hidden" data-val="true" data-val-required="The DraftApprenticeshipId field is required." id="DraftApprenticeshipId" name="DraftApprenticeshipId" value="350852" />
    <input type="hidden" id="DraftApprenticeshipHashedId" name="DraftApprenticeshipHashedId" value="LBJLWP" />
    <div class="govuk-form-group  ">
        <fieldset class="govuk-fieldset" aria-describedby="select-standard-hint">
            <legend class="govuk-visually-hidden">Select a standard option from the list</legend>
            <div id="select-standard-hint" class="govuk-hint">
                Select an option
            </div>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="SelectedOption" data-valmsg-replace="true" id="error-message-SelectedOption"></span>
            <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input value="Banker Stonemason" type="radio" class="govuk-radios__input" id="option-Banker Stonemason" data-val="true" data-val-required="Select an option" name="SelectedOption" />
                        <label class="govuk-label govuk-radios__label" for="option-Banker Stonemason">
                            Banker Stonemason
                        </label>

                    </div>
                    <div class="govuk-radios__item">
                        <input value="Exterior Stone Fixer" type="radio" class="govuk-radios__input" id="option-Exterior Stone Fixer" name="SelectedOption" />
                        <label class="govuk-label govuk-radios__label" for="option-Exterior Stone Fixer">
                            Exterior Stone Fixer
                        </label>

                    </div>
                    <div class="govuk-radios__item">
                        <input value="Heritage Stonemason" type="radio" class="govuk-radios__input" id="option-Heritage Stonemason" name="SelectedOption" />
                        <label class="govuk-label govuk-radios__label" for="option-Heritage Stonemason">
                            Heritage Stonemason
                        </label>

                    </div>
                    <div class="govuk-radios__item">
                        <input value="Interior Stone Fixer" type="radio" class="govuk-radios__input" id="option-Interior Stone Fixer" name="SelectedOption" />
                        <label class="govuk-label govuk-radios__label" for="option-Interior Stone Fixer">
                            Interior Stone Fixer
                        </label>

                    </div>
                    <div class="govuk-radios__item">
                        <input value="Memorial Stonemason" type="radio" class="govuk-radios__input" id="option-Memorial Stonemason" name="SelectedOption" />
                        <label class="govuk-label govuk-radios__label" for="option-Memorial Stonemason">
                            Memorial Stonemason
                        </label>

                    </div>
                    <div class="govuk-radios__item">
                        <input value="Stone Facade Preservation" type="radio" class="govuk-radios__input" id="option-Stone Facade Preservation" name="SelectedOption" />
                        <label class="govuk-label govuk-radios__label" for="option-Stone Facade Preservation">
                            Stone Facade Preservation
                        </label>

                    </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                    <input value="-1" type="radio" class="govuk-radios__input" id="option-confirmlater" name="SelectedOption" />
                    <label class="govuk-label govuk-radios__label" for="option-confirmlater">
                        Confirm option at a later date
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button id="saveBtn" class="govuk-button" type="submit" data-module="govuk-button">
        Confirm and continue
    </button>
</form>



