{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/navigation.html" %}

{% block pageScripts %}

{% endblock %}

<div id="service-title-section" class="landing-page">

     <div class="govuk-width-container">

          </div>

     </div>


{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Help and support</h1>


  <p>For any questions or concerns about your apprenticeship details, please see the following steps.</p>

  <h2 class="govuk-heading-m">Find answers on our Help centre</h2>


    <p class="govuk-body">The Help centre’s articles have information about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your progress reviews </li>
      <li>taking sick leave</li>
      <li>your end-point assessment</li>
      <li>redundancies</li>
    </ul>



    <!-- //////////////////////////// -->
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <h2 class="govuk-heading-m">Speak to your training provider</h2>
    <p>If you can’t resolve your questions or concerns with your employer, you should speak to your main contact at your training provider.</p>

      <p class="govuk-body">Speak to them next time you do your off-the-job training or by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>phone</li>
        <li>email</li>

      </ul>

    <p class="govuk-body">If your question or concern is urgent, please make them aware. </p>


    <!-- //////////////////////////// -->
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



        <h2 class="govuk-heading-m">Speak to your day-to-day contact at your employer</h2>
        <p>You should have a day-to-day contact or manager who can answer any questions or concerns you may have. You can contact them by:</p>

          <p class="govuk-body">Speak to them next time you do your off-the-job training or by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>arranging a face-to-face meeting</li>
            <li>phone</li>
            <li>email</li>

          </ul>

        <p class="govuk-body">If your question or concern is urgent, please make them aware. </p>



        <!-- //////////////////////////// -->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



            <h2 class="govuk-heading-m">Contact the Education Skills Funding Agency</h2>
            <p>At the Education Skills Funding Agency, we’ll always take your complaints seriously.</p>

            <h4 class="govuk-heading-s">Telephone</h4>
            <p class="govuk-body">If you have a unique reference number, have it with you when you call.</p>

          <p class="govuk-body">Available 8am to 8pm Monday to Friday. You can:.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>call us on 08000 150 600</li>
            <li>ext us on 07588 690018</li>
          </ul>

          <p>You cannot send us photos or videos via text.</p>

          <p>Your phone company may charge you separately, standard SMS rates apply.</p>
          <p class="govuk-body">
            <a class="govuk-link" href="#">Find out about call charges</a>
          </p>



                      <h4 class="govuk-heading-s">Email</h4>

                      <p class="govuk-body">
                        You can email us at<a class="govuk-link" href="#">helpdesk@manage-apprenticeships.service.gov.uk</a>.
                      </p>

                      <p class="govuk-body">
                        We aim to respond within 2 working days
                      </p>


          <!-- //////////////////////////// -->



  </div>
</div>


        </main>
{% endblock %}
