{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-l" id="roles-text">
                    Roles and responsibilities
               </h1>

                 <p>Read through the roles and responsibilities for you, your employer and your training provider.</p>
          </div>

          <div class="govuk-grid-column-full">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Your responsibilities as an apprentice</h2>

            <p>
                These roles and responsibilities set out what is expected of you.
            </p>

            <p>
                <strong>I have:</strong>
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>read and signed my <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">apprenticeship agreement</a></li>
                <li>discussed my training plan with my employer and training provider</li>
                <li>told my employer and training provider about any learning needs or health issues I have</li>
                <li>been told when my apprenticeship training starts and ends</li>
                <li>understood the roles of my employer and training provider during my apprenticeship</li>
                <li>understood that at least 20% of my normal working hours will be off the job training</li>
                <li>
                    understood that I will be assessed by an end point assessor at the end of my apprenticeship training
                </li>
            </ul>

            <p>
                <strong>I will:</strong>
            </p>

            <ul class="govuk-list govuk-list--bullet">

                <li>take part in regular progress reviews with my employer and training provider usually every 12 weeks</li>
                <li>attend all my off-the-job training and provide evidence of my recorded hours where needed</li>
                <li>complete all of my learning activities, assignments and exams</li>
                <li>tell my employer in advance when I cannot attend work</li>
                <li>tell my training provider in advance when I cannot attend my off-the-job training</li>
                <li>agree with my employer and training provider when I am ready to complete my end point assessment</li>
                <li>raise any concerns or complaints through my employer and training providers </li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h2 class="govuk-heading-m">Your employer’s responsibilities</h2>



            <p>
                These roles and responsibilities set out what is expected of your employer.
            </p>

            <p>
                <strong>They have:</strong>
            </p>

            <ul class="govuk-list govuk-list--bullet">

                <li>signed and provided you with a copy of your apprenticeship agreement that you agreed together</li>
                <li>contributed to a training plan with you and your training provider</li>
                <li>committed to working with you and you training provider to support your learning needs</li>
            </ul>

            <p>
                <strong>They will: </strong>
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>enable you to complete your off-the-job training during your normal working hours, which will be <strong>at least 20% of your working hours</strong>
                <li>take part in regular progress reviews with you and your training provider usually every 12 weeks
                <li>work with you and your training provider to resolve any concerns or complaints

            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <h2 class="govuk-heading-m">Your training provider’s responsibilities</h2>
            <p>
                These roles and responsibilities set out what is expected of your training provider.
            </p>
            <p>
                <strong>They have:</strong>
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a copy of the apprenticeship agreement signed by you and your employer</li>
                <li>discussed your training plan with you and your employer and ensured it accounts for prior learning, English and maths needs and additional learning support</li>
                <li>told you and your employer your apprenticeship training start and end dates</li>
                <li>explained how off-the-job training will be delivered</li>
                <li>told you and your employer if they will use sub-contracted training providers to deliver any of your training </li>
                <li>explained that you will be assessed by an end-point assessment organisation</li>
            </ul>

            <p>
                <strong>They will: </strong>
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>manage the quality and delivery of your off-the-job training and making sure it is logged </li>
                <li>take responsibility for regular progress reviews between all parties usually every 12 weeks</li>
                <li>make sure that you and your employer know how to raise concerns or complaints about the apprenticeship training</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
    </div>
          </div>
{% endblock %}
