{% extends "layout-landing-provider.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../provider/includes/navigation-provider.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
<script src="/public/javascripts/ksbs-game-programmer.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

  </script>
{% endblock %}

<div id="service-title-section" class="ksb-list">

</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container " id="landing-page-section">


              <main class="govuk-main-wrapper " id="main-content" role="main">




                  <div class="govuk-grid-row">
                      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
                          <h1 class="govuk-heading-xl">Edit apprentice details</h1>
                          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                              <div class="govuk-notification-banner__header">
                                  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                      Important
                                  </h2>
                              </div>
                              <div class="govuk-notification-banner__content">
                                  <p class="govuk-notification-banner__heading">
                                      You need to add recognition of prior learning (RPL) details.
                                  </p>
                                  <p>
                                      Check all the information you have entered on this page is correct and save it. After you have done this, you can add RPL details.

                                      <!--                                      <a class="govuk-notification-banner__link" href="#">View application</a>.-->
                                  </p>
                              </div>
                          </div>

                          <div class="govuk-inset-text">
                              <p class="govuk-body">You can only receive payments for this apprentice if:</p>
                              <ul class="govuk-list govuk-list--bullet">
                                  <li>all the fields have been completed - either by yourself or the employer</li>
                                  <li>the data matches the individualised learner record (ILR) data you send us</li>
                              </ul>
                          </div>

                          <dl class="das-definition-list">
                              <dt class="das-definition-list__title">Employer</dt>
                              <dd class="das-definition-list__definition">SAINSBURY'S LIMITED</dd>
                          </dl>
                          <form id="addApprenticeship" novalidate="" method="post">


                              <input id="ReservationId" name="ReservationId" type="hidden" value="769abbdf-10bf-44f7-8f4d-db9c75cff441">
                              <input type="hidden" data-val="true" data-val-required="The HasStandardOptions field is required." id="HasStandardOptions" name="HasStandardOptions" value="False">
                              <input type="hidden" id="TrainingCourseOption" name="TrainingCourseOption" value="">


                              <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                          Apprentice name
                                      </legend>
                                      <div class="govuk-form-group ">
                                          <label class="govuk-label" for="FirstName">First name</label>
                                          <span class="field-validation-valid govuk-error-message" data-valmsg-for="FirstName" data-valmsg-replace="true" id="error-message-FirstName"></span>
                                          <input class="govuk-input" type="text" id="FirstName" name="FirstName" value="test">
                                      </div>
                                      <div class="govuk-form-group ">
                                          <label class="govuk-label" for="LastName">Last name</label>
                                          <span class="field-validation-valid govuk-error-message" data-valmsg-for="LastName" data-valmsg-replace="true" id="error-message-LastName"></span>
                                          <input class="govuk-input" type="text" id="LastName" name="LastName" value="user">
                                      </div>
                                      <div class="govuk-form-group ">
                                          <details class="govuk-details" data-module="govuk-details">
                                              <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Email address
                        </span>
                                              </summary>
                                              <div class="govuk-details__text">
                                                  Your apprentice will receive an email alert inviting them to the My apprenticeship service. On the service, your apprentice will be able to:
                                                  <ul class="govuk-list govuk-list--bullet">
                                                      <li>review and confirm their apprenticeship details</li>
                                                      <li>understand the roles and responsibilities of an apprentice, an employer and a training provider</li>
                                                      <li>find help and support during their apprenticeship</li>
                                                  </ul>
                                              </div>
                                          </details>
                                          <span class="field-validation-valid govuk-error-message" data-valmsg-for="Email" data-valmsg-replace="true" id="error-message-Email"></span>
                                          <input class="govuk-input" type="text" id="Email" name="Email" value="">
                                      </div>
                                  </fieldset>
                              </div>
                              <div class="govuk-form-group  ">
                                  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                          Date of birth
                                      </legend>
                                      <span id="dob-hint" class="govuk-hint">
                For example, 08 12 2001
            </span>
                                      <span class="field-validation-valid govuk-error-message" data-valmsg-for="DateOfBirth" data-valmsg-replace="true" id="error-message-DateOfBirth"></span>
                                      <div class="govuk-date-input">
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="BirthDay">Day</label>
                                                  <input min="1" max="31" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="BirthDay" name="BirthDay" value="">
                                              </div>
                                          </div>
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="BirthMonth">Month</label>
                                                  <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="BirthMonth" name="BirthMonth" value="">
                                              </div>
                                          </div>
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="BirthYear">Year</label>
                                                  <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" id="BirthYear" name="BirthYear" value="">
                                              </div>
                                          </div>
                                      </div>
                                  </fieldset>
                              </div>
                              <div class="govuk-form-group ">
                                  <label class="govuk-label govuk-!-font-weight-bold" for="Uln">Unique learner number</label>
                                  <span class="field-validation-valid govuk-error-message" data-valmsg-for="Uln" data-valmsg-replace="true" id="error-message-Uln"></span>
                                  <input class="govuk-input govuk-!-width-three-quarters" type="text" id="Uln" name="Uln" value="">
                              </div>
                              <div class="govuk-form-group">
                                  <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Apprenticeship training course</p>
                                  <p class="govuk-body">
                                      Abattoir worker, Level: 2
                                      <button type="submit" name="ChangeCourse" value="Edit" class="das-button--inline-link">
                                          Edit<span class="govuk-visually-hidden"> aprenticeship training course</span>
                                      </button>
                                  </p>
                              </div>
                              <input type="hidden" class="govuk-radios__input" value="274" id="CourseCode" name="CourseCode">
                              <input type="hidden" class="govuk-radios__input" value="Regular" id="DeliveryModel" name="DeliveryModel">

                              <div class="govuk-form-group  ">
                                  <fieldset class="govuk-fieldset" aria-describedby="start-date-hint" role="group">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                          Planned training start date
                                      </legend>
                                      <span id="start-date-hint" class="govuk-hint">
            For example, 09 2017
        </span>
                                      <span id="start-date-hint" class="govuk-hint">
            The standard version will be based on the planned training start date provided
        </span>
                                      <span class="field-validation-valid govuk-error-message" data-valmsg-for="StartDate" data-valmsg-replace="true" id="error-message-StartDate"></span>
                                      <div class="govuk-date-input">
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="StartMonth">Month</label>
                                                  <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="StartMonth" name="StartMonth" value="">
                                              </div>
                                          </div>
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="StartYear">Year</label>
                                                  <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" id="StartYear" name="StartYear" value="">
                                              </div>
                                          </div>
                                      </div>
                                  </fieldset>
                              </div>
                              <div class="govuk-form-group  ">
                                  <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                          Projected training finish date
                                      </legend>
                                      <span id="finish-date-hint" class="govuk-hint">
            For example, 09 2019
        </span>
                                      <span class="field-validation-valid govuk-error-message" data-valmsg-for="EndDate" data-valmsg-replace="true" id="error-message-EndDate"></span>
                                      <div class="govuk-date-input">
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="EndMonth">Month</label>
                                                  <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" id="EndMonth" name="EndMonth" value="">
                                              </div>
                                          </div>
                                          <div class="govuk-date-input__item">
                                              <div class="govuk-form-group">
                                                  <label class="govuk-label govuk-date-input__label" for="EndYear">Year</label>
                                                  <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" id="EndYear" name="EndYear" value="">
                                              </div>
                                          </div>
                                      </div>
                                  </fieldset>
                              </div>


                              <div class="govuk-form-group ">
                                  <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total agreed apprenticeship price (excluding VAT)</label>
                                  <span id="price-hint" class="govuk-hint">
        Enter the price, including any end-point assessment costs, in whole pounds. For example, for £1,500 enter 1500
    </span>
                                  <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true" id="error-message-Cost"></span>
                                  <span class="govuk-body govuk-!-font-weight-bold">£ </span><input class="govuk-input govuk-input--width-5" type="number" id="Cost" name="Cost" value="">
                              </div>


                              <div class="govuk-character-count" data-module="character-count" data-maxlength="20">
                                  <div class="govuk-form-group ">
                                      <label class="govuk-label govuk-!-font-weight-bold" for="Reference">Reference (optional)</label>
                                      <span id="reference-hint" class="govuk-hint">
            Add a reference, such as employee number or location - this won’t be seen by the employer
        </span>
                                      <span class="field-validation-valid govuk-error-message" data-valmsg-for="Reference" data-valmsg-replace="true" id="error-message-Reference"></span>

                                      <input maxlength="20" class="govuk-input govuk-!-width-three-quarters js-character-count" type="text" id="Reference" name="Reference" value="">
                                  </div>
                              </div>

                              <div class="govuk-inset-text">
                                  <p class="govuk-body govuk-!-font-weight-bold">End-point assessments</p>
                                  <p class="govuk-body">We'll ask the employer to confirm the <a class="govuk-link" href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" title="Opens in a new window">apprentice assessment organisation</a> for this apprentice. We'll do this before the end of the apprenticeship.</p>
                              </div>

                              <button type="submit" class="govuk-button">Save</button>


                              <a class="govuk-button govuk-button--warning das-float-right" href="/10005310/unapproved/V68KGK/apprentices/D7PY89/Delete"> Delete</a>

                              <p class="govuk-body govuk-!-margin-bottom-0">
                                  <a class="govuk-body govuk-link" href="/10005310/unapproved/V68KGK/details">Cancel</a>
                              </p>
                              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8H05X6Oq7GVHjPok0sdRCsdmuZ9Rgn4L4OdJosL6KGr5Kd4JRlCvlN9AVO2ZScm6UwqsphurLM_JpJ8jZuIOzqn5tdsMxgf_TGUKfzv_dq2Xwg7a7cppnuVO2Rgk9iLMC5nqS2ISQjh4thYW1KUPdDoSuI4t7IQsce2P9JkewPbNn2SGX00ylAhm3SUFoNvhEg"></form>

                      </div>
                  </div>






              </main>
          </div>



<!--         <div class="govuk-grid-column-one-third">-->

<!--         </div>-->


{% endblock %}
