{% extends "layout-provider.v1.html" %}

{% block pageTitle %}
Recognition of prior learning - Apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="govuk-width-container " id="landing-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check your recognised prior learning funding calculation</h1>

      <div class="govuk-inset-text das-inset-text--highlight">
        <h3 id="funding-band-text" class="govuk-heading-s">Actual price is below funding rules amount</h3>
        <p>
            The price for this apprenticeship is above its <a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" rel="noopener">funding band maximum</a>.
            You'll need to ask the employer to pay the difference directly to you - this can't be funded from their account.
        </p>
    </div>


      <h2 class="govuk-heading-m">Funding calculation</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key half-column">
            Total reduction in apprenticeship training time due to RPL
          </dt>
          <dd class="govuk-summary-list__value govuk-table__cell--numeric">
            100 hours
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="rpl-details">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total training time for this apprenticeship standard
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">400 hours</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="rpl-details">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Percentage of RPL (A)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">25 %</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Max funding amount (B)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">£ 10,000</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Minimum price reduction <br />(50% of A as a percentage of B)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">£ 1,250</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New maximum funding amount
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">£ 8,750</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Actual price reduction due to RPL
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">£ 1,200</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="rpl-details">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Final agreed price
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-table__cell--numeric">£ 7,500</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-apprentice-details">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- <h2 class="govuk-heading-m">Now send your application</h2> -->
      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the
        details you are providing are correct.</p>
      <form action="approve" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Accept and continue
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}