{% extends "layout-provider.v1.html" %}

{% block pageTitle %}
Add recognition of prior learning details - Apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="govuk-width-container " id="landing-page-section">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Add recognition of prior learning details
            </h1>
          </legend>
        </fieldset>
        <div class="govuk-form-group  ">
          <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Total reduction in apprenticeship training time due to recognition of prior learning (RPL)
            </legend>
            <span id="finish-date-hint" class="govuk-hint">
              Enter the reduction in hours
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="EndDate"
              data-valmsg-replace="true" id="error-message-EndDate"></span>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" type="number" id="ReducedDuration" name="ReducedDuration"
                value="">
              <div class="govuk-input__suffix" aria-hidden="true"> hours</div>
            </div>
          </fieldset>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total price reduction due to RPL</label>
            <span id="price-hint" class="govuk-hint">
              Enter the price in whole pounds. For example, for £1,500 enter 1500
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true"
              id="error-message-Cost"></span>
            <span class="govuk-body govuk-!-font-weight-bold">£ </span><input class="govuk-input govuk-input--width-5"
              type="number" id="Cost" name="Cost" value="">
          </div>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total KSB weighted reduction of
              training and cost for the apprenticeship due to RPL</label>
            <span id="price-hint" class="govuk-hint">
              Enter the reduction as a percentage. For example, for 12% enter 12
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true"
              id="error-message-Cost"></span>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" type="number" id="ReducedWeighting"
                name="ReducedWeighting" value="">
              <div class="govuk-input__suffix" aria-hidden="true"> %</div>
            </div>
          </div>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Qualifications that contributed to the
              reduction in apprenticeship training time</label>
            <span id="price-hint" class="govuk-hint">
              List any qualifications that are being recognised as a reduction in training time
            </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3"
              aria-describedby="more-detail-hint"></textarea>
          </div>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Reasons for reductions</label>
            <span id="price-hint" class="govuk-hint">
              Explain why you have reduced cost and training time for this apprentice
            </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3"
              aria-describedby="more-detail-hint"></textarea>
          </div>

        </div>

        </div>
          <a href="rpl-error-simple.html" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
            Save and continue
          </a>

    </div>
  </div>
  
</div>


<script>
  var level1 = ["First certificate", "GCSE - grades 3, 2, 1 or grades D, E, F, G", "Level 1 award", "Level 1 certificate", "Level 1 diploma", "Level 1 ESOL", "Level 1 essential skills", "Level 1 functional skills", "Level 1 national vocational qualification (NVQ)", "Music grades 1, 2 and 3", "other"];
  var level2 = ["CSE - grade 1", "GCSE - grades 9, 8, 7, 6, 5, 4 or grades A*, A, B, C", "Intermediate apprenticeship", "Level 2 award", "Level 2 certificate", "Level 2 diploma", "Level 2 ESOL", "Level 2 essential skills", "Level 2 functional skills", "Level 2 national certificate", "Level 2 national diploma", "Level 2 NVQ", "Music grades 4 and 5", "O level - grade A, B or C"];
  var level3 = ["A level", "Access to higher education diploma", "Advanced apprenticeship", "Applied general", "AS level", "International Baccalaureate diploma", "Level 3 award", "Level 3 certificate", "Level 3 diploma", "Level 3 ESOL", "Level 3 national certificate", "Level 3 national diploma", "Level 3 NVQ", "Music grades 6, 7 and 8", "T Level", "Tech level"];
  var level4 = ["Certificate of higher education (CertHE)", "Higher apprenticeship", "Higher national certificate (HNC)", "Level 4 award", "Level 4 certificate", "Level 4 diploma", "Level 4 NVQ"];
  var level5 = ["Diploma of higher education (DipHE)", "Foundation degree", "Higher national diploma (HND)", "Level 5 award", "Level 5 certificate", "Level 5 diploma", "Level 5 NVQ"];
  var level6 = ["Degree apprenticeship", "Degree with honours - for example bachelor of the arts (BA) hons, bachelor of science (BSc) hons", "Graduate certificate", "Graduate diploma", "Level 6 award", "Level 6 certificate", "Level 6 diploma", "Level 6 NVQ", "ordinary degree without honours"];
  var level7 = ["Integrated master’s degree, for example master of engineering (MEng)", "Level 7 award", "Level 7 certificate", "Level 7 diploma", "Level 7 NVQ", "Master’s degree, for example master of arts (MA), master of science (MSc)", "Postgraduate certificate", "Postgraduate certificate in education (PGCE)", "Postgraduate diploma"];
  var level8 = ["Doctorate, for example doctor of philosophy (PhD or DPhil)", "Level 8 award", "Level 8 certificate", "Level 8 diploma"];
  var level9 = [];

  window.addEventListener('load', function () {

    $('#qualificationLevel').on('change', function () {
      var selected = $('option:selected', this).val();
      var menuOption = 'level' + selected;
      var menuOptionList = '<option value="">Please select the qualification type</option>';

      console.log(window[menuOption]);
      $('#qualificationType').empty();

      $(window[menuOption]).each(function (idx, ele) {
        menuOptionList += "<option value='" + idx + "'>" + ele + "</option>";
      })
      menuOptionList += "<option value='100'>Other</option>";
      $('#qualificationType').html(menuOptionList);

    })
  })

</script>
{% endblock %}