{% extends "layout-provider.v1.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="govuk-width-container " id="landing-page-section">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Provide recognition of prior learning (RPL) details
            </h1>
          </legend>
        </fieldset>
        <div class="govuk-form-group  ">
          <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              How many hours have you reduced the apprenticeship duration by due to RPL?
            </legend>
            <span id="finish-date-hint" class="govuk-hint">
              Enter the reduction in hours
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="EndDate"
              data-valmsg-replace="true" id="error-message-EndDate"></span>
              <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-5" type="number" id="ReducedDuration" name="ReducedDuration" value="">
                <div class="govuk-input__suffix" aria-hidden="true"> hours</div>
            </div>
          </fieldset>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">How much have you reduced the apprenticeship
              price by due to RPL?</label>
            <span id="price-hint" class="govuk-hint">
              Enter the price in whole pounds. For example, for £1,500 enter 1500
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true"
              id="error-message-Cost"></span>
            <span class="govuk-body govuk-!-font-weight-bold">£ </span><input class="govuk-input govuk-input--width-5"
              type="number" id="Cost" name="Cost" value="">
          </div>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">What is the KSB weighted reduction of content, duration and cost for the apprenticeship due to RPL?</label>
            <span id="price-hint" class="govuk-hint">
              Enter the reduction as a percentage. For example, for 12% enter 12
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true"
              id="error-message-Cost"></span>
              <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-5" type="number" id="ReducedWeighting"
                  name="ReducedWeighting" value="">
                <div class="govuk-input__suffix" aria-hidden="true"> %</div>
              </div>
          </div>

          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">What qualifications have contributed to the reduction in content due to RPL?</label>
            <span id="price-hint" class="govuk-hint">
              List any formal qualifications that form the prior learning
            </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
          </div>

 

        </div>
        <a href="rpl-error.html" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
          Save and continue
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}