{% extends "layout.v1.html" %}

{% block pageTitle %}
Confirm your employer
{% endblock %}

{% set headerText="Mason Stone" %}
{% block beforeContent %}
{% include "./includes/account-header.html" %}
{% include "includes/beta-phase-banner.html" %}
<div class="govuk-width-container">
  {% include "includes/back-link.html" %}
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How your apprenticeship will be delivered</h1>
<!-- 
      <div class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
        <span class="app-notification-banner__icon das-text--success-icon"></span>
        You have read through how your apprenticeship will be delivered
      </div>
 -->
      <p>Your portable flexi-job apprenticeship will be delivered in two parts:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a training period when you will move between different jobs</li>
        <li>an end-point assessment</li>
      </ul>
      <h2 class="govuk-heading-m">Your training period</h2>
      <p>
        <strong>Your employers</strong> will give you hands-on experience in your chosen
        occupation. They'll provide you with training and supervision to develop the skills for the role.
      </p>
      <p>
        <strong>Each individual employer</strong> will help you develop some of the skills required for your
        apprenticeship.
        When a job ends, you'll need to find a new job to develop more of the required skills.
      </p>
      <p>
        <strong>Your training provider</strong> is responsible for your off-the-job training. Your required hours for off-the-job training are stated in your training plan. This is an agreement between you, your provider and your employer. You'll spend off-the-job training time developing knowledge, skills and behaviours for your apprenticeship. 
      </p>
      <p>
        <strong>Your training plan</strong> will set out a schedule for your off-the-job training. Your training plan will include:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the content and modules you will cover in off-the-job training</li>
        <li>how and when your off-the-job training will be delivered</li>
        <li>English and maths qualifications, if you do not already have these</li>
        <li>regular progress reviews with your employer and training provider</li>
      </ul>

      <h2 class="govuk-heading-m">Your end-point assessment</h2>
      <p>
        You'll be assessed by an independent assessor at the end of your apprenticeship. They will assess the knowledge, skills and behaviours you need to be competent in your role.
      </p>

      <p>
        You will have your end-point assessment when you, your employer and training provider agree that you're ready. You will discuss this in your progress reviews.
      </p>

      <p>
        Your employer and training provider will tell you what to expect and when the
        assessment will take place.
      </p>


      <form action="tasklist" method="get">
        <input type="hidden" name="deliveryStatus" value="complete" />
        <button class="govuk-button" data-module="govuk-button" id="apprentice-delivered-confirm">Continue</button>

      </form>



    </div>
  </div>

</div>

{% endblock %}