{% extends "layout.v1.html" %}

{% block pageTitle %}
Confirm my apprenticeship details
{% endblock %}

{% set headerText="Mason Stone" %}
{% block beforeContent %}
{% include "./includes/account-header.html" %}
{% include "includes/beta-phase-banner.html" %}
<div class="govuk-width-container">
  {% include "includes/back-link.html" %}
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="roles-text">
            Roles and responsibilities
        </h1>
        <p>Read through the roles and responsibilities for you, your employer and your training provider.</p>

        <h2 class="govuk-heading-m">Your responsibilities as an apprentice</h2>
        
<p>
    These roles and responsibilities set out what is expected of you.
</p>

<p>
    <strong>I have:</strong>
</p>


<ul class="govuk-list govuk-list--bullet">
    <li>read and signed my apprenticeship agreement</li>

        <li>discussed my training plan with my current employer and my training provider</li>
        <li>told my current employer and my training provider about any learning needs or health issues I have</li>

    <li>been told when my apprenticeship training starts and ends</li>

        <li>understood that this is a portable flexi-job apprenticeship and that I will move between different jobs during my apprenticeship</li>
        <li>understood the roles of my employers and training provider during my apprenticeship</li>
        <li>understood that I need to complete the off-the-job training hours stated in my training plan during my normal working hours</li>

    <li>understood that I will be assessed by an end-point assessor at the end of my apprenticeship training</li>
</ul>

<p>
    <strong>I will:</strong>
</p>

<ul class="govuk-list govuk-list--bullet">

        <li>take part in regular progress reviews with my employer and training provider every 12 weeks</li>

    <li>attend all my off-the-job training and provide evidence of my recorded hours where needed</li>
    <li>complete all of my learning activities, assignments and exams</li>

        <li>share my learning and progress to date with each new employer</li>
        <li>find my next job when the current job ends, until I am ready to complete my end-point assessment</li>

    <li>tell my employer in advance when I cannot attend work</li>
    <li>tell my training provider in advance when I cannot attend my off-the-job training</li>
    <li>agree with my employer and training provider when I am ready to complete my end-point assessment</li>

        <li>raise any concerns or complaints through my employer and training providers</li>

</ul>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Your employer's responsibilities</h2>
        
<p>
    The roles and responsibilities set out what is expected of your employer.
</p>

<p>
    <strong>They have:</strong>
</p>


    <ul class="govuk-list govuk-list--bullet">
        <li>signed and provided you with a copy of your apprenticeship agreement that you agreed together</li>
        <li>contributed to a training plan with you and your training provider</li>
        <li>committed to working with you and your training provider to support your learning needs</li>
        <li>agreed your employment start and end dates with a minimum duration of 3 months</li>
    </ul>
    <p>
        <strong>They will: </strong>
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>enable you to complete your off-the-job training during your normal working hours as defined in your training plan</li>
        <li>take part in regular progress reviews with you and your training provider every 12 weeks</li>
        <li>work with you and your training provider to resolve any concerns or complaints</li>
        <li>carry out an end of employment review when your job ends</li>
    </ul>


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Your training provider's responsibilities</h2>
        
<p>
    The roles and responsibilities set out what is expected of your training provider.
</p>
<p>
    <strong>They have:</strong>
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>a copy of the apprenticeship agreement signed by you and your employer</li>

        <li>discussed with you how your portable flexi-job apprenticeship will be delivered</li>

    <li>discussed your training plan with you and your employer and ensured it accounts for prior learning, English and maths needs and additional learning support</li>
    <li>told you and your employer your apprenticeship training start and end dates</li>
    <li>explained how off-the-job training will be delivered</li>
    <li>told you and your employer if they will use sub-contracted training providers to deliver any of your training </li>
    <li>explained that you will be assessed by an end-point assessment organisation</li>
</ul>

<p>
    <strong>They will: </strong>
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>manage the quality and delivery of your off-the-job training and making sure it is logged </li>

        <li>support you in finding jobs as you progress through your apprenticeship</li>

    <li>take responsibility for regular progress reviews between all parties every 12 weeks</li>

        <li>make sure that you and each employer can see a summary of your learning and progress to date</li>

    <li>make sure that you and your employer know how to raise concerns or complaints about the apprenticeship training</li>

        <li>maintain contact with you if you are on an extended break in learning</li>

</ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>

</div>

{% endblock %}