{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ERROR MESSAGE - START -->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li><a href="#apprentice-issued-error">Please check the box to agree that your personal details are correct</a></li>
                         </ul>
                    </div>
               </div>
               <!-- ERROR MESSAGE - END -->

               <h1 class="govuk-heading-xl personal-confirmed-title">Confirm these details are correct</h1>

               <div class="govuk-form-group confirmed-panel personal-confirmed">
                    <div class="govuk-warning-text">
                         <span class="govuk-confirm__icon" aria-hidden="true"></span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed that your personal details are correct
                         </strong>
                    </div>
               </div>

               <form method="post" action="" class="apprentice-details check-answers-page">

                    <h2 class="govuk-heading-m" id="personal-details-text">
                         Personal details
                         <a href="2-wrong-info" class="main-change-link">Change</a>
                    </h2>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">Joe Bloggs</td>
                              </tr>
                              <tr class="govuk-table__row personal-details-error">
                                   <th scope="row" class="govuk-table__header">Date of birth</th>
                                   <td class="govuk-table__cell">24/06/1998</td>
                              </tr>
                              <tr class="govuk-table__row personal-details-correct">
                                   <th scope="row" class="govuk-table__header">Date of birth</th>
                                   <td class="govuk-table__cell">24/08/1998</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Email</th>
                                   <td class="govuk-table__cell">joe.bloggs@hotmail.co.uk{</td>
                              </tr>
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Mobile</th>
                                   <td class="govuk-table__cell">+44 7974 123 456</td>
                              </tr> -->
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Postcode</th>
                                   <td class="govuk-table__cell">OX12 9FB</td>
                              </tr> -->
                         </tbody>
                    </table>

                    <!-- CHECK BOX - CONFIRM - START -->
                    <div class="govuk-form-group check-to-confirm apprentice-error-panel personal-unconfirmed">
                         <fieldset class="govuk-fieldset" aria-describedby="apprentice-hint">
                              <span id="apprentice-issued-error" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> Please check the box to confirm the details are correct
                              </span>
                              <div class="govuk-checkboxes">
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="apprentice-confirm" name="apprentice-confirm" type="checkbox" value="apprentice-confirm">
                                        <label class="govuk-label govuk-checkboxes__label" for="apprentice-confirm">
                                             Please check the box to agree that your <a href="#personal-details-text">personal details</a> are correct
                                        </label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
                    <!-- CHECK BOX - CONFIRM - END -->

                    <button class="govuk-button personal-unconfirmed" data-module="govuk-button" id="apprentice-details">Confirm</button>

                    <a href="../landing-page/index" class="secondary-link personal-unconfirmed">I want to complete this later</a>

                    <a href="#" onclick="history.go(-1)" class="govuk-back-link personal-confirmed">Back to landing page</a>

               </form>

          </div>
     </div>


</div>
{% endblock %}
