

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing & why we're doing it</th>

                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Updates taken back into design from user feedback for employer and provider viewing when an apprentice has confirmed. This is so we can accommodate the employer and provider user need for this process</td>
                          </tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Work done to prototype a homepage solution for when an apprentice has confirmed - design needed to complete the users journey</td>
                            </tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Content change to start page - added line to give users context for employer and providers involvement - user research found this was necessary to give users context as to what the service entailed</td>
</tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>CoC pages for first 3 screens written for each section - user research from sprint 11 found that the employer screen went well, so the rest have been written</td>
</tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Removing questions and radios on “How your apprenticeship will be delivered” and “Role and responsibilities” and replaced with ‘continue’ button - as there was no ‘no’ journey available should a user have chosen it</td>
</tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Fixing javascript so when all the subsection are complete you get a continue button - so that the radios on “How your apprenticeship will be delivered” and “Role and responsibilities” could be changed</td>
</tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Adding help and support page to top navigation - as part of MVS goals, for the user to navigate to help and support</td>
</tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Removed off the job info from employer page - user research found this information repetitive and irrelevant at this stage of the journey</td>
</tr><tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Added progressive disclosure field for employer and provider screens for if users ‘do not recognise the name’ - this information isn’t necessary for majority of users so by hiding it unless necessary, users wont be reading unnecessary information</td>


                         </tr>



                    </tbody>
               </table>"
          }) }}


     </div>
</div>
