{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/navigation.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

<div id="service-title-section" class="landing-page">

     <div class="govuk-width-container">
  <!--
          <div class="govuk-grid-row dashboard-title">
               <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                         Your apprenticeship
                    </h1>

                   <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">What this service can do for you</span>
                         </summary>
                         <div class="govuk-details__text">
                              <p class="govuk-body">You can use your apprenticeship account to:</p>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li>track your apprenticeship progress estimate</li>
                                   <li>get support with your apprenticeship</li>
                                   <li>find out how to prepare for your next milestones</li>
                                   <li>tell us how you feel about your apprenticeship</li>
                              </ul>

                         </div>
                    </details>

               </div>

               <div class="govuk-grid-column-one-third">

                    <div class="confirmation">
                         <h2 class="govuk-heading-s">Who has committed so far:</h2>
                         <p><span class="icon cross" id="apprentice-committed"></span>You, the apprentice</p>
                         <p><span class="icon tick green"></span>Training provider<a href="#">View commitment</a></p>
                         <p><span class="icon tick green"></span>The employer<a href="#">View commitment</a></p>
                    </div>

               </div>-->

          </div>

     </div>

</div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
    Help and support
    </h1>

    <p>
    If you have any questions or concerns, you should follow the below steps. If your questions or concerns are not answered, please escalate through the steps below
    </p>


    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">

      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">

            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                <span class="js-step-title-text">
              Find answers on our Help centre
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
          <p class="app-step-nav__paragraph">The Help centre’s articles have information about:</p>



            <ul class="govuk-list govuk-list--bullet">
              <li>your progress reviews </li>
              <li>taking sick leave</li>
              <li>your end-point assessment</li>
              <li>redundancies</li>
            </ul>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2"><span class="js-step-title-text">
              Speak to your training provider
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <p class="app-step-nav__paragraph">If you can’t resolve your questions or concerns with your employer, you should speak to your main contact at your training provider.</p>
            <p class="app-step-nav__paragraph">Speak to them next time you do your off-the-job training or by:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>phone</li>
              <li>email</li>

            </ul>
            <p class="app-step-nav__paragraph">Speak to them next time you do your off-the-job training or by:</p>If your question or concern is urgent, please make them aware. </p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="js-step-title-text">
                Speak to your day-to-day contact at your employer
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">You should have a day-to-day contact or manager who can answer any questions or concerns you may have. You can contact them by:</P>

  <ul class="govuk-list govuk-list--bullet">
    <li>arranging a face-to-face meeting</li>
    <li>phone</li>
    <li>email</li>
  </ul>


          </div>

        </li>




        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                Contact the Education Skills Funding Agency
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">At the Education Skills Funding Agency, we’ll always take your complaints seriously.</p>


            <h3 class="govuk-heading-s">Telephone</h3>

            <p class="app-step-nav__paragraph">If you have a unique reference number, have it with you when you call.</p>
            <p class="app-step-nav__paragraph">Available 8am to 8pm Monday to Friday. You can:</p>

            <ul class="govuk-list">
              <li>call us on 08000 150 600</li>
              <li>text us on 07588 690018</li>
            </ul>

              <p class="app-step-nav__paragraph">
                You cannot send us photos or videos via text.
              </p>

              <p class="app-step-nav__paragraph">
                Your phone company may charge you separately, standard SMS rates apply.
              </p>

            <p class="govuk-body">
              <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <h3 class="govuk-heading-s">Email</h3>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">helpdesk@manage-apprenticeships.service.gov.uk</a>.</li>
  <li>We aim to respond within 2 working days</li>
</ul>


          </div>

        </li>
      </ol>
    </div>
    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button">
      Go back to the dashboard
    </a>

  </div>
</div>


        </main>
{% endblock %}
