{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">




                  <h1 class="govuk-heading-xl" id="employer-provider-title">Your employer</h1>



                  <!-- Confirmation once selection has been made -->
                  <div class="govuk-form-group confirmed-panel" id="employer-provider-title-confirmed">
                       <div class="govuk-warning-text">
                            <span class="govuk-confirm__icon" aria-hidden="true"></span>
                            <strong class="govuk-warning-text__text">
                                 <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed that this is your employer
                            </strong>
                       </div>
                  </div>




                  <h2 class="govuk-heading-l" id="">Daniel Galvin</h2>

                  <p class="govuk-body"">
                     This is their legal name registered with Companies House. You might know them by their trading name, which is how they’re known to the public.
                    </p>
  <h3 class="govuk-heading-m" id="">Things you need to know</h3>

<div class="govuk-inset-text">
  <p class="govuk-body">Before starting your apprenticeship your employer should’ve given you a:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>copy of your apprenticeship agreement signed by you and them </li>
  <li>day-to-day contact or manager who can answer any questions you might have</li>
</ul>
</div>
<p>
  Your employer knows that you must spend <b>at least 20% of your working hours in off-the-job training.</b> This may be with your training provider or at your place of work.
  </p>
 <form id="employer-form-hide" method="post" action="/sprint-6/commitment-statement/2-employer-details/1a-employer-details">

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "EmployerConfirm",
    name: "EmployerConfirm",
    fieldset: {
      legend: {
        text: "Is this your employer?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

                    <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
</form>
<!--

                    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" >I can confirm this is my employer</a>
<br />
                  <a href="../dashboard/2-my-apprenticeships" class="govuk-button govuk-button--secondary" data-module="govuk-button" >This is not my employer</a>

-->
<br />
<!--
                    <a href="../dashboard/2-my-apprenticeships" class="secondary-link employer-provider-unconfirmed">I want to complete this later</a><br />
-->

                    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" id="employer-provider-confirmed" >Continue</a><br />
                                    <!--  <a href="../dashboard/2-my-apprenticeships"  class="govuk-back-link employer-provider-confirmed">Back to landing page</a>-->

                                    <a href="noconfirm-employer" class="govuk-!-font-size-19" data-module="govuk-button" id="employer-provider-undo">I want to change my answer</a><br />


          </div>
     </div>
</div>
{% endblock %}
