{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">






                  <!-- Confirmation once selection has been made -->
                  <div class="govuk-form-group confirmed-panel">
                       <div class="govuk-warning-text">
                            <span class="govuk-confirm__icon" aria-hidden="true"></span>
                            <strong class="govuk-warning-text__text">
                                 <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed that this is your training provider
                            </strong>
                       </div>
                  </div>


              <h1 class="govuk-heading-xl" id="training-provider-title">My training provider</h1>

                  <h2 class="govuk-heading-l" id="">Heffield College</h2>

                  <p class="govuk-body">
                    This is their legal name registered with Companies House. You might know them by their trading name, which is how they’re known to the public.
                    </p>

  <h3 class="govuk-heading-m" id="">Things you need to know</h3>

<div class="govuk-inset-text">
  <p class="govuk-body">Before starting your apprenticeship your training provider should have:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>told you if you'll be working with any other training providers during your apprenticeship
</li>
  <li>given you a day-to-day contact who can answer any questions you might have</li>
</ul>

</div>
<p>
Your off-the-job training will be <b>at least 20% of your working hours.</b> Off-the-job training will be time spent during your normal working hours to learn new skills and knowledge relevant to your apprenticeship.
   </p><p>
Your training provider is responsible for your off-the-job training, which you will be assessed against at the end of your apprenticeship by an end-point assessment organisation.
  </p>


<!--

                    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" >I can confirm this is my employer</a>
<br />
                  <a href="../dashboard/2-my-apprenticeships" class="govuk-button govuk-button--secondary" data-module="govuk-button" >This is not my employer</a>

-->
<br />
<!--
                    <a href="../dashboard/2-my-apprenticeships" class="secondary-link employer-provider-unconfirmed">I want to complete this later</a><br />
-->
  <a href="../dashboard/3-my-apprenticeships" class="govuk-button" data-module="govuk-button" id="training-provider-confirmed" >Continue</a><br />




                  <!--  <a href="../dashboard/2-my-apprenticeships"  class="govuk-back-link training-provider-confirmed">Back to landing page</a>-->



          </div>
     </div>
</div>
{% endblock %}
