{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">You can’t confirm your apprenticeship yet. </h1>

               <p>
                    Speak to your training provider to fix this then come back here to continue.
               </p>

          </div>

          <div class="govuk-grid-column-full">

               <form method="post" action="../dashboard/2-my-apprenticeships" class="check-answers-page">

                 <button class="govuk-button" data-module="govuk-button" >Return to My Apprenticeship</button>

               </form>

          </div>
     </div>


</div>
{% endblock %}
