{% extends "layout.html" %}

{% set serviceName %}
Manage apprenticeships
{% endset%}

{% block pageTitle %}
Manage your apprenticeships
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container " id="">
  <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container " id="landing-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6">
        <h1 class="govuk-heading-xl">Review the behaviours required
          <span class="govuk-caption-m">Construction site supervisor, level 4</span>
          </h1>
    </div>

    <div class="govuk-grid-column-full">

      <div class="govuk-grid-column-three-quarters">
        <p>This shows the duties split into the detailed of knowledge, skills and behaviours (KSBs) needed to complete this apprenticeship.</p>
        <p><a
          href="https://www.instituteforapprenticeships.org/apprenticeship-standards/construction-site-supervisor-v1-0"
          class="govuk-link">View the full IFATE standard (opens in new tab)</a></p>
          <p>Rate your prior learning in each of these required areas. Be honest with yourself when completing it – you will be need to provide the evidence when you meet with your training provider.</p>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          </div>
        </fieldset>
      </div>

      <h2 class="govuk-heading-m">Behaviours</h2>
          {% for behaviour in data.standards.behaviours %}
          <tr class="govuk-table__row">
            <!--  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint"> -->
              
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <div class="govuk-grid-column-three-quarters">
                  <h3 class="govuk-hint">
                    <strong>B{{loop.index}}: </strong>{{behaviour.detail}} (Where 1 is no experience and 9 is expert)
                  </h3>
                </div>
                </legend>
    <!--                 <div id="changed-name-hint" class="govuk-hint">
                 <strong>B{{loop.index}}</strong> {{knowledge.detail}}
               </div> -->
               <div class="govuk-radios  govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-6" data-module="govuk-radios">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name" name="B{{loop.index}}" type="radio" value="yes">
                   <label class="govuk-label govuk-radios__label" for="changed-name1">
                     1
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-2">
                     2
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-3">
                     3
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name4">
                     4
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-5">
                     5
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-6">
                     6
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-7">
                     7
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-8">
                     8
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="changed-name-2" name="B{{loop.index}}" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="changed-name-9">
                     9
                   </label>
                 </div>
               </div>

         </tr>
          {% endfor %}


      <a href="check-your-answers" class="govuk-button">Continue</a>

    </div>


  </div>

</div>
{% endblock %}