{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/navigation.html" %}

<div id="service-title-section" class="dashboard-page">

     <div class="govuk-width-container">

          <div class="govuk-grid-row dashboard-title">
               <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                         Welcome, Joe Bloggs
                         <a href="#" class="share">Share my progress</a>
                         <span class="govuk-caption-m">Military Engineering Construction Technician apprenticeship</span>
                    </h1>
               </div>

               <div class="govuk-grid-column-full">
                    {% include "../includes/progress-tracker.html" %}
               </div>

          </div>

     </div>

</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container" id="dashboard-section">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <ul class="dashboard-nav">

                    <!-- DASHBOARD - 1 - START -->
                    <li>
                         <a href="./2-my-apprenticeships" class="dashboard-one">
                              <h2 class="govuk-heading-m">My apprenticeship</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                         </a>
                    </li>
                    <!-- DASHBOARD - 1 - END -->

                    <!-- DASHBOARD - 2 - START -->
                    <li>
                         <a href="#" class="dashboard-two">
                              <h2 class="govuk-heading-m">My progress</h2>
                              <p>Morbi rhoncus, lacus vitae bibendum euismod, neque tellus auctor quam, eget imperdiet odio ante a lectus.</p>
                         </a>
                    </li>
                    <!-- DASHBOARD - 2 - END -->

                    <!-- DASHBOARD - 3 - START -->
                    <li>
                         <a href="#" class="dashboard-three">
                              <h2 class="govuk-heading-m">My training provider</h2>
                              <p>Mauris sit amet bibendum erat. Etiam non ipsum justo.</p>
                         </a>
                    </li>
                    <!-- DASHBOARD - 3 - END -->

                    <!-- DASHBOARD - 4 - START -->
                    <li>
                         <a href="./5-my-employers" class="dashboard-four">
                              <h2 class="govuk-heading-m"><span>My employers</span> <span class="number">2</span></h2>
                              <p>Nunc erat nisl, feugiat ac feugiat vitae, scelerisque nec felis.</p>
                         </a>
                    </li>
                    <!-- DASHBOARD - 4 - END -->

                    <!-- DASHBOARD - 5 - START -->
                    <li>
                         <a href="#" class="dashboard-five">
                              <h2 class="govuk-heading-m">My previous apprenticeships</h2>
                              <p>Aenean nisi ipsum, interdum nec tortor a, vulputate feugiat velit. Donec et rutrum elit.</p>
                         </a>
                    </li>
                    <!-- DASHBOARD - 5 - END -->

                    <!-- DASHBOARD - 6 - START -->
                    <li>
                         <a href="#" class="dashboard-six">
                              <h2 class="govuk-heading-m">My account</h2>
                              <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                         </a>
                    </li>
                    <!-- DASHBOARD - 6 - END -->

               </ul>

          </div>

          <div class="govuk-grid-column-one-third">
               {% include "../includes/module-tracker.html" %}
          </div>

     </div>
</div>
{% endblock %}
