{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../../includes/landing-page/navigation.html" %}

<div id="action-title-section" class="landing-page">

     <div class="govuk-width-container">

          <div class="govuk-grid-row dashboard-title">
               <div class="govuk-grid-column-two-thirds">

                    <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

                    <span class="govuk-caption-m">Step 1 of 4</span>
                    <h1 class="govuk-heading-xl">
                         Your apprenticeship information
                    </h1>

               </div>
          </div>

     </div>

</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container" id="landing-page">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">


          </div>
     </div>
</div>
{% endblock %}
