{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">



              <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                          There seems to be a problem.
                      </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                      <p class="govuk-notification-banner__heading">
                          <a class="govuk-notification-banner__link" href="1a-employer-details.html">
                              You have already confirmed your apprenticeship details
                          </a>.
                      </p>
                  </div>
              </div>





                  <!-- Confirmation once selection has been made -->
                  <div class="govuk-form-group confirmed-panel" id="employer-provider-title-confirmed">
                       <div class="govuk-warning-text">
                            <span class="govuk-confirm__icon" aria-hidden="true"></span>
                            <strong class="govuk-warning-text__text">
                                 <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed this is your employer
                            </strong>
                       </div>
                  </div>


                  <!-- Change answer -->
                  <div class="govuk-form-group confirmed-panel" id="employer-change-answer">
                       <div class="govuk-warning-text">
                            <span class="govuk-confirm__icon" aria-hidden="true"></span>
                            <strong class="govuk-warning-text__text">
                                 <span class="govuk-warning-text__assistive">Unlocked</span> You can now change your answer
                            </strong>
                       </div>
                  </div>

              <h1 class="govuk-heading-l" id="employer-provider-title">Confirm your employer</h1>

                  <h2 class="govuk-heading-m " id="">Star M+E Solutions</h2>

                  {% from "govuk/components/details/macro.njk" import govukDetails %}

                  {{ govukDetails({
                    summaryText: "Help if you do not recognise your employer’s name",
                    text: "Star M+E Solutions is your employer’s legal name registered with Companies House. You may know them by their trading name instead."
                  }) }}

  <h3 class="govuk-heading-m" id="">Things you need to know</h3>

<div class="govuk-inset-text">
  <p class="govuk-body">Before starting your apprenticeship your employer should’ve given you a:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>copy of your apprenticeship agreement signed by you and them </li>
  <li>day-to-day contact or manager who will support you through your apprenticeship </li>
</ul>
</div>

 <form id="employer-form-hide" method="post" action="/sprint-6/commitment-statement/2-employer-details/1a-employer-details">



  <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Is Star M+E Solutions your employer?
          </h3>
        </legend>


        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="EmployerConfirm" name="EmployerConfirm" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="AppDetails">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="EmployerConfirm-2" name="EmployerConfirm" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="AppDetails">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>



                    <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
</form>
<!--

                    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" >I can confirm this is my employer</a>
<br />
                  <a href="../dashboard/2-my-apprenticeships" class="govuk-button govuk-button--secondary" data-module="govuk-button" >This is not my employer</a>

-->
<br />
<!--
                    <a href="../dashboard/2-my-apprenticeships" class="secondary-link employer-provider-unconfirmed">I want to complete this later</a><br />
-->

                    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" id="employer-provider-confirmed" >Continue</a><br />
                                    <!--  <a href="../dashboard/2-my-apprenticeships"  class="govuk-back-link employer-provider-confirmed">Back to landing page</a>-->

                                    <a href="1a-employer-details" class="govuk-!-font-size-19" data-module="govuk-button" id="employer-provider-undo">I want to change my answer</a><br />


          </div>
     </div>
</div>
{% endblock %}
