

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>

                      <tr class='govuk-table__row'>
                             <td class='govuk-table__cell'>Trying to incorporate warmth and make it a destination for users to come back and check information</td>
                           <td class='govuk-table__cell'>We believe that titling each page as a question will lead users to view it as a tick box exercise, reducing the quality aspect of our goals</td>
                      </tr>
                      <tr class='govuk-table__row'>
                           <td class='govuk-table__cell'>Revisited the apprenticeship details page</td>
                           <td class='govuk-table__cell'>We believed users may want to change their answer in future</td>
                      </tr>
                      <tr class='govuk-table__row'>
                           <td class='govuk-table__cell'>Changed the order of the items on the summary page  </td>
                           <td class='govuk-table__cell'>We thought the current iteration was too clinical and needed warmth to make the user feel that the service is a destination to check information, not just a tick box</td>
                      </tr>
                      <tr class='govuk-table__row'>
                           <td class='govuk-table__cell'>Created a start page</td>
                           <td class='govuk-table__cell'>We thought the radio buttons made it too clinical and wanted to iterate on getting confirmation without them</td>
                      </tr>
                      <tr class='govuk-table__row'>
                           <td class='govuk-table__cell'>Changed format from radio buttons to confirmation button and removed questions</td>
                           <td class='govuk-table__cell'></td>
                      </tr>
                      <tr class='govuk-table__row'>
                           <td class='govuk-table__cell'>Let users come back and change their answers</td>
                           <td class='govuk-table__cell'></td>
                      </tr>



                    </tbody>
               </table>"
          }) }}


     </div>
</div>
