<h2 class="govuk-heading-l" id="sprint-5">
     <span class="govuk-tag">LATEST</span><br>
     Sprint 6
     <span class="govuk-caption-l">
          20th January &mdash; 2nd February 2021
     </span>
</h2>


<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'></td>
                              <td class='govuk-table__cell'></td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'></td>
                              <td class='govuk-table__cell'></td>
                         </tr>

                    </tbody>
               </table>"
          }) }}
          <p class="govuk-body govuk-!-font-weight-bold">Mapping out the "apprentice user" journey's and scenarios, "provider and employer" journeys</p>
          <ul class="govuk-list govuk-list--bullet">
               <li>
                    <a href="https://miro.com/app/board/o9J_lfjcKV8=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">MIRO - Intial user journey</a>
                    <p>Password: <strong>teamavocado</strong></p>
               </li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">Creating</p>
          <ul class="govuk-list govuk-list--bullet">
               <li>
                    <a href="https://miro.com/app/board/o9J_lc7Sp7I=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">MIRO - Blueprint, apprentice journey, employer journey and provider journey</a>
                    <p>Password: <strong>teamavocado</strong></p>
               </li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">Pre-programme apprentice -  Happy path</p>
          <ul class="govuk-list govuk-list--bullet">
               <li>
                    <a href="/sprint-6/commitment-statement/emails/index" class="govuk-link govuk-link--no-visited-state">MVS - digital commitment</a>
               </li>
               <li>
                    <a href="/sprint-6/portability/emails/index" class="govuk-link govuk-link--no-visited-state">BETA - portability</a>
               </li>
               <li>
                    <a href="/sprint-6/employer/landing-page/index" class="govuk-link govuk-link--no-visited-state">Employer journey</a>
               </li>
          </ul>

     </div>
</div>
