{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<p>
  &nbsp;
  </p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Confirm my apprenticeship details</h1>

      <p class="govuk-body">Your employer and your training provider have entered your apprenticeship details into our service.  You should review and confirm your apprenticeship details are correct when starting your apprenticeship.</p>

      <p class="govuk-body">You should use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">

          <li>check and confirm your apprenticeship details </li>
          <li>understand what’s expected of you during your apprenticeship </li>
          <li>understand what’s expected of your employer and your training provider during your apprenticeship </li>
          <li>find support and information for your apprenticeship</li>

      </ul>

      <!--
      <p class="govuk-body">
        You need to confirm your apprenticeship details before starting your apprenticeship.
        </p>

      <p class="govuk-body">Confirming takes around 15 minutes.</p>

        <p class="govuk-body">If you’re looking for an apprenticeship, use <a href="http://www.findapprenticeship.service.gov.uk/">Find an apprenticeship</a>.
          <p>
-->

      <a href="/sprint-6/commitment-statement/sign-in/start-account" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

      <h2 class="govuk-heading-m">Before you start</h2>

        <p>
          To use this service you should have received an email invitation.
          </p>
        <p class="govuk-body">Before you use this service, you need to know the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>name of your employer</li>
          <li>name of your training provider</li>
          <li>planned start and end date of your apprenticeship </li>
            <li>name and level of your apprenticeship </li>
        </ul>
        <p>
          It’s important to check your apprenticeship details because you’ll be assessed on what you’ve learned at the end of your apprenticeship.
          </p>

    </div>



    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">
                Related link
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
