{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Your personal details</h1>

               <div class="govuk-form-group confirmed-panel">
                    <div class="govuk-warning-text">
                         <span class="govuk-confirm__icon" aria-hidden="true"></span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed that your personal details are correct
                         </strong>
                    </div>
               </div>

               <h2 class="govuk-heading-m" id="personal-details-text">
                    Personal details
                    <a href="2-wrong-info" class="main-change-link">Change</a>
               </h2>

               <table class="govuk-table data-table">
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Name</th>
                              <td class="govuk-table__cell">Joe Bloggs</td>
                         </tr>
                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Date of birth</th>
                              <td class="govuk-table__cell">24/08/1998</td>
                         </tr>
                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Email</th>
                              <td class="govuk-table__cell">{{ data['apprentice-email'] }}</td>
                         </tr>
                    </tbody>
               </table>

               <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back to commitment statement</a>

          </div>
     </div>


</div>
{% endblock %}
