.help-modal-container {
  position: relative;
  background-color: white;
  //height:400px;
}

.bg-grey {
  background-color: #f3f2f1;
  padding:8px;
  margin-bottom:16px;
}
.help-modal {
  //display:none;
  width:320px;
  position: absolute;
  bottom:0px;
  right:10px;
  height:500px;
  //background-color: white;
  z-index: 5;
  border-radius: 20px;
  background-image:url("/public/images/help-popup.png");
  background-size:cover;

  h3 {
    margin:0;
    padding:8px 16px;
    background-color: #0B0C0C;
    color: white;
    text-align: center;

    .close-help {
      position: absolute;
    }
  }

    .card-container {
      display:flex;
      flex-direction: column;
      .card {
        margin:8px;
        padding:16px;
        box-shadow: 4px 2px  8px #888888;
        border-radius: 0.571429rem;
      }
    }
}