{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">


            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">

                         <!-- Confirmation once selection has been made -->
                         <div class="govuk-form-group confirmed-panel" id="app-details-title-confirmed">
                              <div class="govuk-warning-text">
                                   <span class="govuk-confirm__icon" aria-hidden="true"></span>
                                   <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed your apprenticeship details
                                   </strong>
                              </div>
                         </div>


                          <h1 class="govuk-heading-xl">Your apprenticeship details</h1>



                          <table class="govuk-table data-table">
                               <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">Apprenticeship</th>
                                         <td class="govuk-table__cell">Military Engineering Construction Technician</td>
                                    </tr>



                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">Level</th>
                                         <td class="govuk-table__cell">3</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Version
                                                   <!--<span class="tooltiptext tooltip-right">Tooltip text</span>-->
                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">1.2</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">Duration</th>
                                         <td class="govuk-table__cell">1 year</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Planned start date
                                                   <!--<span class="tooltiptext tooltip-right">Tooltip text</span>-->
                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">2 March 2021</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Planned end date
                                                   <!--<span class="tooltiptext tooltip-right">Tooltip text</span>-->
                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">3 March 2022</td>
                                    </tr>

                               </tbody>
                          </table>




                  </div>
                  </div>










                    <div class="govuk-grid-row">
                       <div class="govuk-grid-column-two-thirds">




                      <form id="app-details-form-hide" method="post" action="/sprint-6/commitment-statement/1-apprenticeship-details/1-apprenticeship-details">

                       {{ govukRadios({
                         classes: "govuk-radios--inline",
                         idPrefix: "AppDetails",
                         name: "AppDetails",
                         fieldset: {
                           legend: {
                             text: "Are your apprenticeship details correct",
                             isPageHeading: true,
                             classes: "govuk-fieldset__legend--l"
                           }
                         },
                         items: [
                           {
                             value: "yes",
                             text: "Yes"
                           },
                           {
                             value: "no",
                             text: "No"
                           }
                         ]
                       }) }}

                      <button class="govuk-button" data-module="govuk-button" id="app-details-confirm">Confirm</button>
                      </form>


                      <br />


                    <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" id="app-details-confirmed" >Continue</a><br />


                    <a href="noconfirm-app-details" class="govuk-!-font-size-19" data-module="govuk-button" id="app-details-undo">These are not my apprenticeship details</a><br />




                      </div>
                    </div>
                  </div>

{% endblock %}
