{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">


            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">

                         <!-- Confirmation once selection has been made -->
                         <div class="govuk-form-group confirmed-panel" >
                              <div class="govuk-warning-text">
                                   <span class="govuk-confirm__icon" aria-hidden="true"></span>
                                   <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed the details of your apprenticeship
                                   </strong>
                              </div>
                         </div>


                          <h1 class="govuk-heading-xl">Details of my apprenticeship</h1>
                          <p>
                            These are the details that your employer and training provider have given to us.
                            </p>

                              <p><b>It’s important to check these details</b> because you’ll be assessed on what you’ve learned at the end of your apprenticeship.
                                  </p>

                          <table class="govuk-table data-table">
                               <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">Apprenticeship</th>
                                         <td class="govuk-table__cell"> Joinery   </td>
                                    </tr>

<!--
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">Option</th>
                                         <td class="govuk-table__cell">Bricklayer & Concreter</td>
                                    </tr>-->
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">Level</th>
                                         <td class="govuk-table__cell">Level 2 (NVQ)</td>
                                    </tr>
                                    <!--
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Version

                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">1.2</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                           Duration
                                         </th>
                                         <td class="govuk-table__cell">12 month(s)<br /></td>
                                    </tr>
                                    -->
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Planned start date

                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">November 2019</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Planned end date
                                                   <!--<span class="tooltiptext tooltip-right">Tooltip text</span>-->
                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">June 2021</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                         <th scope="row" class="govuk-table__header">
                                              <div>Planned off-the-job training over the duration of your apprenticeship
                                                   <!--<span class="tooltiptext tooltip-right">Tooltip text</span>-->
                                              </div>
                                         </th>
                                         <td class="govuk-table__cell">900 hours </td>
                                    </tr>

                               </tbody>
                          </table>



                          <h3 class="govuk-heading-m" id="">Things you need to know</h3>

                        <div class="govuk-inset-text">
                          <p class="govuk-body">Your planned start and end dates should:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>include the time you will spend in off-the-job training</li>
                          <li>not include when your end point assessment will take place</li>
                          <li>match the start and end dates in your training plan given to you by your </li>
                        </ul>
                        <p class="govuk-body">Your planned off-the-job training hours:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>represent the total number of hours you will have spent in off-the-job training by the end of your apprenticeship</li>
                        <li>do not include the assessment at the end of your apprenticeship</li>

                      </ul>
                        </div>



                  </div>

                  </div>










                    <div class="govuk-grid-row">
                       <div class="govuk-grid-column-two-thirds">



                    <a href="../dashboard/3-my-apprenticeships" class="govuk-button" data-module="govuk-button"  >Continue</a><br />



                      </div>
                    </div>
                  </div>

{% endblock %}
