{% extends "layout-landing-provider.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../../provider/includes/navigation-provider-rp.html" %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
     var $element = $('#step-by-step-navigation')
     var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
     stepByStepNavigation.start($element)

</script>
{% endblock %}

<div id="service-title-section" class="landing-page ">

     <div class="govuk-width-container">
          <!--
                  <div class="govuk-grid-row dashboard-title">
                       <div class="govuk-grid-column-two-thirds">
                            <h1 class="govuk-heading-xl">
                                 Your apprenticeship
                            </h1>

                           <details class="govuk-details" data-module="govuk-details">
                                 <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text">What this service can do for you</span>
                                 </summary>
                                 <div class="govuk-details__text">
                                      <p class="govuk-body">You can use your apprenticeship account to:</p>
                                      <ul class="govuk-list govuk-list--bullet">
                                           <li>track your apprenticeship progress estimate</li>
                                           <li>get support with your apprenticeship</li>
                                           <li>find out how to prepare for your next milestones</li>
                                           <li>tell us how you feel about your apprenticeship</li>
                                      </ul>

                                 </div>
                            </details>

                       </div>

                       <div class="govuk-grid-column-one-third">

                            <div class="confirmation">
                                 <h2 class="govuk-heading-s">Who has committed so far:</h2>
                                 <p><span class="icon cross" id="apprentice-committed"></span>You, the apprentice</p>
                                 <p><span class="icon tick green"></span>Training provider<a href="#">View commitment</a></p>
                                 <p><span class="icon tick green"></span>The employer<a href="#">View commitment</a></p>
                            </div>

                       </div>-->

     </div>

</div>

</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">Cohort sent to employer for review</h1>

               </div>

               <table class="govuk-table">
                    <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">

                         <th scope="row" class="govuk-table__header das-table-cell-width-45">Cohort refernce</th>
                         <td id="apprenticeship-employer" class="govuk-table__cell das-table-cell-width-40">BPW7N</td>
                         <td class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
                         </td>
                    </tr>

                    <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header">Sent to</th>
                         <td id="apprenticeship-reference" class="govuk-table__cell">ESFA  LTD</td>
                         <td class="govuk-table__cell"></td>
                    </tr>

                    <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header">On behalf of</th>
                         <td id="apprenticeship-agreement-id" class="govuk-table__cell">N4E66Y</td>
                         <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header">Message</th>
                         <td id="apprenticeship-message" class="govuk-table__cell">No message added</td>
                         <td class="govuk-table__cell"></td>
                    </tr>
                    </tbody>
               </table>

               <h2 class="govuk-heading-m">What happens next?</h2>
               <p class="govuk-body">The cohort will appear in the employer's account for them to review.
               </p>

               <ul class="govuk-list">
                    <li><a href="alert-column1.html">Go to apprentice requests</a></li>
                    <li><a href="Home.html">Go to homepage</a></li>
               </ul>



<!--        <h2 class="govuk-heading-m">What happens next?</h2>-->

<!--        <p class="govuk-body">-->
<!--             We will send the confirmation of your apprenticeship to your employer and training provider and they will be in touch to start your apprenticeship, if they have not been already.-->
<!--        </p>-->

<!--        <p class="govuk-body">-->
<!--          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)-->
<!--        </p>-->

          </div>
     </div>
</div>
{% endblock %}
