{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ERROR MESSAGE - START -->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li><a href="#apprenticeship-issued-error">Please check the box to agree that the apprenticeship details and the estimated weekly hours are correct</a></li>
                         </ul>
                    </div>
               </div>
               <!-- ERROR MESSAGE - END -->

               <h1 class="govuk-heading-xl apprenticeship-confirmed-title">Confirm these details are correct</h1>

               <div class="govuk-form-group confirmed-panel apprenticeship-confirmed">
                    <div class="govuk-warning-text">
                         <span class="govuk-confirm__icon" aria-hidden="true"></span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed that your apprenticeship details are correct
                         </strong>
                    </div>
               </div>

               <form method="post" action="" class="apprenticeship-details check-answers-page">

                    <h2 class="govuk-heading-m" id="apprenticeship-details-text">
                         Apprenticeship details
                         <a href="2-wrong-info" class="main-change-link">These details aren't correct</a>
                    </h2>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship</th>
                                   <td class="govuk-table__cell">Military Engineering Construction Technician</td>
                              </tr>
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Option</th>
                                   <td class="govuk-table__cell">
                                        <ul class="govuk-list govuk-list--bullet">
                                             <li>Carpenter & Joiner</li>
                                             <li>Bricklayer & Concreter</li>
                                             <li>Building & Structural Finisher</li>
                                             <li>Plumbing & Heating Engineer</li>
                                             <li>Plant Operator & Mechanic</li>
                                        </ul>
                                   </td>
                              </tr> -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Level</th>
                                   <td class="govuk-table__cell">3</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">
                                        <div class="tooltip">Version
                                             <span class="tooltiptext tooltip-right">Tooltip text</span>
                                        </div>
                                   </th>
                                   <td class="govuk-table__cell">1.2</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Duration</th>
                                   <td class="govuk-table__cell">1 year</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">
                                        <div class="tooltip">Planned start date
                                             <span class="tooltiptext tooltip-right">Tooltip text</span>
                                        </div>
                                   </th>
                                   <td class="govuk-table__cell">2 March 2021</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">
                                        <div class="tooltip">Planned end date
                                             <span class="tooltiptext tooltip-right">Tooltip text</span>
                                        </div>
                                   </th>
                                   <td class="govuk-table__cell">3 March 2022</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">
                                        <div class="tooltip">Practical start date
                                             <span class="tooltiptext tooltip-right">Tooltip text</span>
                                        </div>
                                   </th>
                                   <td class="govuk-table__cell">20 March 2021</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">
                                        <div class="tooltip">Practical end date
                                             <span class="tooltiptext tooltip-right">Tooltip text</span>
                                        </div>
                                   </th>
                                   <td class="govuk-table__cell">1 January 2022</td>
                              </tr>
                         </tbody>
                    </table>

                    <p>&nbsp;</p>

                    <h2 class="govuk-heading-m" id="hours-details-text">
                         Estimated weekly hours
                         <a href="2-wrong-info" class="main-change-link">These details aren't correct</a>
                    </h2>

                    <p>
                         At least 20% of your time will be on ‘off-the-job’ apprenticeship training. You may agree with your
                         employer to train one day a week, one week out of the month, or to spread the equivalent hours across
                         the week.
                    </p>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">On the job</th>
                                   <td class="govuk-table__cell">32</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship training</th>
                                   <td class="govuk-table__cell">8</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Total</th>
                                   <td class="govuk-table__cell">40</td>
                              </tr>
                         </tbody>
                    </table>

                    <p>&nbsp;</p>

                    <!-- //////////////////////////////// KSB's - START //////////////////////////////// -->
                    <h2 class="govuk-heading-m" id="four-roles">Knowledge, skills and behaviours</h2>

                    <p>
                         These are the knowledge, skills and behaviours you will learn on your apprenticeship.
                    </p>

                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-skills">
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-skills-heading-1">Knowledge</span>
                                   </h3>
                              </div>
                              <div id="accordion-skills-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-skills-heading-1">
                                   <div class="specific-text">
                                        <p><strong>K1:</strong> The importance of site safety whilst being aware of the role of other site workers and their welfare</p>
                                        <p><strong>K2:</strong> The principles of waste management, disposal and environmental control in relation to environmental responsibilities, organisational procedures, manufacturers’ information, statutory regulations, official guidance and local requirements when working in foreign countries</p>
                                        <p><strong>K3:</strong> The different techniques and methods used to move, handle and store resources in the workplace and be aware of potential hazards involved with these resources</p>
                                        <p><strong>K4:</strong> Health and safety requirements for control equipment when undertaking work on site along with accident reporting when involved with, fires, spillages, injuries</p>
                                        <p><strong>K5:</strong> Safety requirements when working at height and below ground using relevant equipment</p>
                                        <p><strong>K6:</strong> The purpose of the work programme and why deadlines should be kept to in relation to progress charts, timetables and estimated times</p>
                                        <p><strong>K7:</strong> The importance of construction site reporting procedures and how changes in circumstances will impact on the works programme timetable</p>
                                        <p><strong>K8:</strong> The organisational procedures developed to report and rectify inappropriate information and unsuitable resources and how they can be implemented</p>
                                        <p><strong>K9:</strong> Organisational security procedures for tools, equipment and personal belongings in relation to site, workplace, unit, operative</p>
                                        <p><strong>K10:</strong> Complex first aid procedures in an emergency</p>
                                        <p><strong>K11:</strong> Safety and load bearing rules when constructing bridges to cross gaps of various sizes using existing materials and prefabricated sections</p>
                                        <p><strong>K12:</strong> Safety aspects and rules regarding the use of explosive and delivery of basic demolitions</p>
                                        <p><strong>K13:</strong> Environmental and health aspects needed for providing water supply to a given location including water storage</p>
                                        <p><strong>K14:</strong> The techniques of setting up and using of transportable cutting and shaping machines in the workplace</p>
                                        <p><strong>K15:</strong> First fixing components in the workplace including frames (door and/or window), linings (door and/or hatch), floor joist coverings (or flat roof decking), partitions (straight)</p>
                                        <p><strong>K16:</strong> Second fixing components in the workplace including side hung doors, mouldings (standard architrave, skirting), ironmongery, service encasement, wall and floor units/fitments, cladding</p>
                                        <p><strong>K17:</strong> Measuring, marking out, fitting, finishing, positioning and securing</p>
                                        <p><strong>K18:</strong> Characteristics, quality, uses, sustainability, limitations and defects associated with timber and timber based products and components, such as hardwood, softwood, Medium Density Fibreboard (MDF) and other materials</p>
                                        <p><strong>K19:</strong> Safe work practices when using tools, resources and equipment in a manner not likely to cause injury should they trip and fall</p>
                                        <p><strong>K20:</strong> Working with tools away from the body to avoid injury</p>
                                        <p><strong>K21:</strong> What safety guards should be in place in accordance with machine instructions</p>
                                        <p><strong>K22:</strong> The correct selection of accessories for machines and the work being undertaken</p>
                                        <p><strong>K23:</strong> Identifying the correct maintenance requirements for accessories and how to report defects</p>
                                        <p><strong>K24:</strong> The characteristics, quality, uses, sustainability, limitations and defects associated with resources such as timber, timber boarding, manufactured sheet material, plastics, doors, mouldings, ironmongery, metals, frames, linings, wall and floor units/fitments, adhesives, sealants, fixings, associated ancillary items, hand and/or power tools and equipment</p>
                                        <p><strong>K25:</strong> Safe working practices and procedures and how to report problems when working on site undertaking numerous procedures</p>
                                        <p><strong>K26:</strong> The specific hazards associated with carpentry and joinery resources and methods of work</p>
                                        <p><strong>K27:</strong> Techniques for setting out and erecting masonry structures in the workplace</p>
                                        <p><strong>K28:</strong> Techniques for placing and finishing non-specialist concrete in the workplace</p>
                                        <p><strong>K29:</strong> Characteristics, quality, uses, sustainability, limitations and defects associated with resources in relation to concreting, fabric reinforcing, timber, plywood, proprietary slab edgings, fixings, bricks, blocks, mortars, frames, insulation, damp-proof barriers, lintels, fixings, ties, hand and powered tools and equipmen</p>
                                        <p><strong>K30:</strong> The correct use of bricklaying and concreting resources and how problems associated with these specific resources are managed and reported</p>
                                        <p><strong>K31:</strong> Potential hazards associated with bricklaying and concreting resources and methods of work</p>
                                        <p><strong>K32:</strong> Specific health and safety practices that include any specific procedures, problem solving and the establishment of the authority needed to rectify them covering all aspects of the trade</p>
                                        <p><strong>K33:</strong> Examples of the above aspects transporting, laying, compacting, curing and protecting concrete with tamped, floated, brushed and towelled finishes, placing fabric reinforcement, concrete mix ratios (volume and gauge boxes), placing concrete into formwork and shuttering, forming slab edging, using hand tools and ancillary equipment and setting out and erecting structures</p>
                                        <p><strong>K34:</strong> Tools and equipment maintenance when setting out and erecting masonry structures</p>
                                        <p><strong>K35:</strong> Non-specialist concrete and be able to describe how to calculate quantity, length, area and wastage</p>
                                        <p><strong>K36:</strong> Field defence construction and the requirements for reinforcing and strengthening fortifications in a hostile environment</p>
                                        <p><strong>K37:</strong> Engineering principles to repair existing masonry structures to render them safe and prevent further collapse</p>
                                        <p><strong>K38:</strong> Access/working platforms in the workplace including for use in building maintenance (carpentry), building maintenance (painting & decorating), building maintenance (tiling), building maintenance (plastering), building maintenance (trowel occupations), building maintenance (roofing), building maintenance (glazing)</p>
                                        <p><strong>K39:</strong> The characteristics, quality, uses, limitations and defects associated with the following resources ladders/crawler boards, stepladders/platform steps, trestles, proprietary staging/podiums, proprietary towers, mobile scaffolding towers, protections equipment and notices, tools and ancillary equipment, water-borne and solvent- borne coatings</p>
                                        <p><strong>K40:</strong> Further characteristics, quality, uses, limitations and defects: primers, intermediate coatings (undercoats) and finishes (single pack coatings), single-product systems (e.g. emulsions, varnishes), solvent/thinners, knotting, proprietary sealers, brushes, rollers</p>
                                        <p><strong>K41:</strong> Final characteristics, quality, uses, limitations and defects: protective sheeting and masking, cleaning agents, stripping materials and equipment, fillers and bonding agents, primers, surface treatment materials and waterproofing agents, sand, cement, lime and plaster renders, mesh, trims and fixings, wall and floor tiles, grout, adhesives, accessories, hand and/or powered tools and associated equipment</p>
                                        <p><strong>K42:</strong> Specific safe working practices and procedures to include: erecting and dismantling access equipment, preparing and painting surfaces, plastering, tiling to all types and angles of walls, glazing windows and/or doors, roofing structures, applying cement and lime renders, using tools and resources</p>
                                        <p><strong>K43:</strong> Further specific safe working practices and procedures to include: using waterproof membranes, fixing proprietary mesh and trims, applying movement joints, removing existing tiles and preparing background, forming reveals, sills and soffits (door and window openings), forming internal and external angles, fixing channels/form drainage, outlets</p>
                                        <p><strong>K44:</strong> The requirements for completing and maintaining records of actions taken to be included as part of the site hand over procedures</p>
                                        <p><strong>K45:</strong> The requirements for maintaining tools and equipment used when erecting and dismantling access/working platforms, applying paint systems using rollers and associated tools and equipment, preparing background surfaces for plastering, panelling or painting/decorating tiling wall and floor surfaces, glazing windows and doors and roofing structures</p>
                                        <p><strong>K46:</strong> Health and safety requirements for structures built for temporary occupation in a military environment</p>
                                        <p><strong>K47:</strong> Heat calculations, task requirements and resource requirements for tasks</p>
                                        <p><strong>K48:</strong> Causes and prevention of corrosion in plumbing systems</p>
                                        <p><strong>K49:</strong> Plumbing materials, their properties and the effects of heating on them along with the principles of heat in plumbing systems</p>
                                        <p><strong>K50:</strong> Marking out techniques and allowances for bend calculations</p>
                                        <p><strong>K51:</strong> Copper tube/plastic pipe, measuring, cutting, bending and joint techniques along with steel pipe threading and joining techniques</p>
                                        <p><strong>K52:</strong> Pipework insulation and protection systems along with the identification of pipe freezing techniques</p>
                                        <p><strong>K53:</strong> Preparation of floors</p>
                                        <p><strong>K54:</strong> Water systems and hydraulic testing and equipment</p>
                                        <p><strong>K55:</strong> Soundness testing and commissioning checks for water systems along with flushing water systems</p>
                                        <p><strong>K56:</strong> Requirements for decommissioning of water systems</p>
                                        <p><strong>K57:</strong> Electrical resistance calculations</p>
                                        <p><strong>K58:</strong> Requirements of rainwater and associated guttering</p>
                                        <p><strong>K59:</strong> Test and commissioning of guttering systems, above and below ground drainage systems and the hazards when working with them along with the maintenance</p>
                                        <p><strong>K60:</strong> Storage of waste water and treatment systems</p>
                                        <p><strong>K61:</strong> Extracting task requirements from a briefing, plan for a plant task, inside and out by day and night and interpret engineer drawings, sketches and specifications</p>
                                        <p><strong>K62:</strong> All current and applicable legislation, regulations, standards and instructions relevant to the operation of different Plant vehicles individual expected to operate</p>
                                        <p><strong>K63:</strong> Harbour area drills/tasks</p>
                                        <p><strong>K64:</strong> The capabilities and working principles of systems and controls of the Medium Wheeled Tractor (MWT), Light Wheeled Tractor (LWT), Medium Crawler Tractor (MCT), Medium Crawler Excavatot (MCE), Excavator Towed Ultra Light (ETUL)</p>
                                        <p><strong>K65:</strong> The purpose and application of ancillaries for the Medium Wheeled Tractor (MWT), Light Wheeled Tractor (LWT), Medium Crawler Tractor (MCT), Medium Crawler Excavatot (MCE), Excavator Towed Ultra Light (ETUL)</p>
                                        <p><strong>K66:</strong> The various techniques of transporting the Medium Wheeled Tractor (MWT)</p>
                                        <p><strong>K67:</strong> The purpose of route denial for all Plant the individual is expected to use</p>
                                        <p><strong>K68:</strong> The purpose of various bucket configurations for the Medium Crawler Excavatot (MCE) and the process for self recovery</p>
                                        <p><strong>K69:</strong> The procedures/processes for crossing equipment bridges</p>
                                        <p><strong>K70:</strong> The basic principles of compaction</p>
                                        <p><strong>K71:</strong> The repair, accident and breakdown procedures along with the process for refueling equipment</p>
                                        <p><strong>K72:</strong> The purpose of inspecting Steel Wire Rope (SWR)</p>
                                        <p><strong>K73:</strong> The legal requirements of plant on the public highway</p>
                                        <p><strong>K74:</strong> The working systems and controls of roller(s) and the cab and controls for the Light Dump Truck (LDT) and the Medium Dump Truck (MDT)</p>
                                        <p><strong>K75:</strong> Understand the basic fault identification on the engine, the electrical system, the fuel system, the cooling system and the hydraulic system of the plant being used</p>
                                   </div>
                              </div>
                         </div>
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-skills-heading-2">Skills</span>
                                   </h3>
                              </div>
                              <div id="accordion-skills-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-skills-heading-2">
                                   <div class="specific-text">
                                        <p><strong>S1:</strong> Carry out work to military standards, as laid down by the on-site military design team. All works must be of quality, within budget
                                        <p><strong>S2:</strong> Interpret information provided in drawings, specifications, schedules, method of statements, risk assessments, Manufacturers’ information and industry regulations governing construction</p>
                                        <p><strong>S3:</strong> Calculate quantity in relation to tools, resources, time, area and wastage associated with the work being undertaken</p>
                                        <p><strong>S4:</strong> Undertake basic project management process to include the bidding for necessary resources across long logistic chains, whilst avoiding wastage and all to be completed within the required time frame</p>
                                        <p><strong>S5:</strong> Undertake site supervision to ensure completion of task in a military (often hostile) environment , maintaining health and safety and a safe working environment</p>
                                        <p><strong>S6:</strong> Move, manage and store resources in the workplace in a safe manner</p>
                                        <p><strong>S7:</strong> Liaise with fellow workers, allied forces and outside agencies to meet local import/legislative requirements required when working in a foreign country</p>
                                        <p><strong>S8:</strong> Plan the sequence of work, using appropriate resources, in accordance with organisational procedures to ensure work is completed safely and efficiently</p>
                                        <p><strong>S9:</strong> Complete relevant documentation necessary to comply with local building regulations</p>
                                        <p><strong>S10:</strong> Demonstrate complex first aid procedures likely to save life in a given situation</p>
                                        <p><strong>S11:</strong> Oversee the preparation of resources safely for transport by land, sea or air and safely unload resources with the use of signaling</p>
                                        <p><strong>S12:</strong> Undertake core military combat engineering skills including:
                                             <br>a. develop protective shelters including trench construction being aware of the relevant safety aspects of working below ground
                                             <br>b. construct bridges to cross gaps of various sizes using improvised existing materials as well as prefabricated modular bridge components
                                             <br>c. use explosives to undertake basic demolitions d. be able to construct a water supply system from a raw source (such as a river) utilising engineering skills to provide water storage and delivery</p>
                                        <p><strong>S13:</strong> Use personal protective equipment relevant to the task and the tactical situation</p>
                                        <p><strong>S14:</strong> Communicate effectively to the rest of the team and with management</p>
                                        <p><strong>S15:</strong> Be adaptable to environment being worked in</p>
                                        <p><strong>S16:</strong> Select resources necessary to undertake a task which will include materials, components and fixings, tools, equipment and accessories</p>
                                        <p><strong>S17:</strong> Protect the work and its surrounding area whilst minimising damage and maintain a clean work space</p>
                                        <p><strong>S18:</strong> Prepare timber and timber structures to be included in engineering projects. This will include the ability to measure, mark out, fit, fix, position and secure fittings</p>
                                        <p><strong>S19:</strong> Set up and use transportable cutting and shaping machines in the workplace</p>
                                        <p><strong>S20:</strong> Demonstrate compliance with given information and relevant legislation in relation to the safe use of access equipment, safe handling of materials, safe use and storage of materials, tools, equipment and ancillaries</p>
                                        <p><strong>S21:</strong> Use, maintain and store materials, hand tools, portable power tools and ancillary equipment in a safe manner</p>
                                        <p><strong>S22:</strong> Set up and use safely drills, planes, biscuit joiners and disc cutters</p>
                                        <p><strong>S23:</strong> Set up and use safely cutting tools including saws such as: circular, chop, mitre, bench, jig, reciprocating, alligator and scroll saws</p>
                                        <p><strong>S24:</strong> Set up and use wood shaping tools including a thicknesser, sander (orbital, belt, disc), router, laminate trimmer, and grinder to given working instructions</p>
                                        <p><strong>S25:</strong> Install first fixing components according to instructions in the workplace including frames (door and window), door linings, floor joist coverings, partitions (straight)</p>
                                        <p><strong>S26:</strong> Install second fixing components in the workplace including measuring, marking out, fitting, finishing, positioning, securing side hung doors, mouldings (standard architrave), ironmongery, service encasement, wall and floor units/fitments, and cladding</p>
                                        <p><strong>S27:</strong> Construct field defences (i.e. trench work and sangers) using necessary wood reinforcing to strengthen the structure in the form of frameworks and shuttering</p>
                                        <p><strong>S28:</strong> Manufacture wooden shoring in unstable buildings to render buildings safe for temporary occupation</p>
                                        <p><strong>S29:</strong> Erect masonry structures in the workplace in brick and block and/or local materials for the cavity wall structures, block work structures, solid wall structures, door and window openings and joint finishes</p>
                                        <p><strong>S30:</strong> Set out regular shaped structures to given working instructions in brick, block and local material</p>
                                        <p><strong>S31:</strong> Lay concrete to given working instructions for concrete slabs/bases/foundations (footing, oversites or paths), form slab edging and position reinforcement</p>
                                        <p><strong>S32:</strong> When placing and finishing non-specialist concrete demonstrate measuring, marking out, laying, compacting, finishing, positioning and securing</p>
                                        <p><strong>S33:</strong> Finish concrete to the given working instructions for concrete slabs/bases (footing, oversites or paths), form slab edging, position reinforcement and form surface finish (tamped, floated, brushed and trowelled</p>
                                        <p><strong>S34:</strong> When field defences are required (i.e. trench work and sangers) construct the necessary brickwork to be undertaken to strengthen the structure using brick, block, local materials or concrete</p>
                                        <p><strong>S35:</strong> Demonstrate skills when erecting, moving, positioning, dismantle and store access/working platforms in the workplace for building maintenance (carpentry), building maintenance (painting & decorating), building maintenance (tiling), building maintenance (plastering)</p>
                                        <p><strong>S36:</strong> Further skills to demonstrate: building maintenance (trowel occupations) in a safe and efficient manner using ladders/crawler boards, stepladders/platform steps, proprietary towers, trestle platforms, mobile scaffold towers, proprietary staging/podiums</p>
                                        <p><strong>S37:</strong> Demonstrate work skills when mixing, pouring, diluting, loading, laying-on, laying-off, cutting and applying paint systems by brush and/or roller</p>
                                        <p><strong>S38:</strong> Apply water-borne and/or solvent-borne coatings to internal and/or external surfaces for industrial and/or non-industrial situations, to given working instructions, for linear/trim/narrow runs and broad areas by brush and/or roller</p>
                                        <p><strong>S39:</strong> Safely store the materials, tools and equipment used when applying paint systems by brush and/or roller and when preparing background surfaces for plastering, tiling, panelling or painting/decorating and when tiling wall and floor surfaces</p>
                                        <p><strong>S40:</strong> Prepare background surfaces for plastering, tiling, panelling or painting and decorating in the workplace</p>
                                        <p><strong>S41:</strong> Demonstrate measuring, marking out, washing, stripping/scraping, abrading/keying, hacking, cutting out, removing, mixing, filling, levelling/flattening, brushing down, priming when preparing background surfaces for plastering, tiling, panelling or painting/decorating</p>
                                        <p><strong>S42:</strong> Prepare new or existing background surfaces for plastering and/or tiling and/or panelling and/or painting/decorating to given working instructions for previously plastered, tiled, panelled or painted/decorated surfaces, brick, block, concrete, render or plaster, manufactured board, wood, metal</p>
                                        <p><strong>S43:</strong> Fix tiles to vertical, horizontal and inclined surfaces to given working instructions on wall and floor surfaces, reveals, sills and soffits (door and/or windows), floor drainage and outlets, fixture of appropriate accessories</p>
                                        <p><strong>S44:</strong> Erect a waste pipe frame</p>
                                        <p><strong>S45:</strong> Install a sink, wash hand basin and bath a close coupled toilet and cold water cistern, bowl urinal and trough urinal along with a boosted shower system and shower tray then connect shower, toilet, urinal, sink/basin and bath to primary ventilated stack system</p>
                                        <p><strong>S46:</strong> Check test and commission sanitation appliances, diagnose and repair faults on sanitation appliances, gravity shower unit and pumped shower unit</p>
                                        <p><strong>S47:</strong> Maintenance of cold water components and the repair of leaks on cold water systems and test cold water pipework along with soundness testing on cold water systems and install insulation</p>
                                        <p><strong>S48:</strong> Install an electric shower, conduct electrical tasks and connecting electric shower to power supply</p>
                                        <p><strong>S49:</strong> Install hot water system to components, storage cylinder, immersion heater and connect Y-plan and S-plan heating controls also test hot water pipework systems, carry out soundness testing and restore faulty hot water systems</p>
                                        <p><strong>S50:</strong> Install copper, steel and plastic pipework and hang a radiator</p>
                                        <p><strong>S51:</strong> Test and commission, power flush and restore faulty heating system</p>
                                        <p><strong>S52:</strong> Conduct heating calculations</p>
                                        <p><strong>S53:</strong> Calculate bend allowance and produce a slow bend in plastic pipework and carry out Butt welding on Medium Density Polyethyene (MDPE) and High Density Polythyene (HDPE) pipe</p>
                                        <p><strong>S54:</strong> Use hydraulic test equipment</p>
                                        <p><strong>S55:</strong> Commission and decommission water systems</p>
                                        <p><strong>S56:</strong> Procure materials and consumables for the task and select, inspect and use hand tools/equipment and power tools safely</p>
                                        <p><strong>S57:</strong> Cut copper tube to length</p>
                                        <p><strong>S58:</strong> Bend copper tube and Low Carbon Steel pipe 90’,double/double set, crank set, half crank, two angled set and bending in two plains</p>
                                        <p><strong>S59:</strong> Lift floorboards and notch joists</p>
                                        <p><strong>S60:</strong> Join copper tubes, plastic pipes and low carbon steel pipe</p>
                                        <p><strong>S61:</strong> Combine copper, plastic and Low Carbon Steeel frame</p>
                                        <p><strong>S62:</strong> Interpret working drawings, comply with task standards advise on plant tasks, carry out all tasks using safe working practices and applicable safety equipment and carry out harbour area drills/tasks</p>
                                        <p><strong>S63:</strong> Operate the current in-use Medium Wheeled Tractor (MWT), Light Wheeled Tractor (LWT), Medium Crawler Tractor (MCT), Medium Crawler Excavator (MCE), Excavator, Towed, Ultra Light (ETUL), Engineer Construction Plant (ECP), Light Dump Truck (LDT)</p>
                                        <p><strong>S64:</strong> Carry out pre-start and post start checks, stopping and closedown procedures on all vehicles to be operated by Military Engineering Construction Technician Plant Operator Mechanic along with periodic service and lubrication of all points of the ancillaries also carry out wheel changing procedures</p>
                                        <p><strong>S65:</strong> Operate travel controls, forks and bucket smoothly and safely and carry out banksman/operator duties on all relevant vehicles to be operated by Military Engineering Construction Technician Plant Operator Mechanic</p>
                                        <p><strong>S66:</strong> Level an area, form a stockpile, construct a raised platform, load dump trucks, lift transport and lower loads, using lifting eyes using the Medium Wheeled Tractor</p>
                                        <p><strong>S67:</strong> Prepare Medium Wheeled Tractor and Light Wheeled Tractor for road travel</p>
                                        <p><strong>S68:</strong> Operate the backactor of Light Wheeled Tractor in various roles and excavate various configurations of trench and various configurations of field defences</p>
                                        <p><strong>S69:</strong> Using the Light Wheeled Tractor level an area, form a stockpile, excavate below ground level (front end) and load dump trucks</p>
                                        <p><strong>S70:</strong> Load/unload Light Wheeled Tractor, Medium Crawler Tractor, Excavator Towed Ultra Light and Medium Crawler Excavator onto current in-use trailers</p>
                                        <p><strong>S71:</strong> Excavate below ground level, level an area, form a ditch by angle dozing, form a downhill/uphill cut. form a stockpile using a Medium Crawler Tractor and carry out winching/ripper operations</p>
                                        <p><strong>S72:</strong> Form a stockpile, excavate an anti-vehicle ditch, excavate below ground level, load dump trucks and bank batter slopes using Medium Crawler Excavator and set it up for lifting duties</p>
                                        <p><strong>S73:</strong> Use Personal Protective Equipment (PPE) for a plant task</p>
                                        <p><strong>S74:</strong> Make entries in plant documentation</p>
                                        <p><strong>S75:</strong> Check tools and equipment using Complete Equipment Schedule</p>
                                        <p><strong>S76:</strong> Identify the component parts of roads and airfields along with construction pegs and boards</p>
                                        <p><strong>S77:</strong> Carry out the process for demanding, receipting and returning C class vehicles</p>
                                        <p><strong>S78:</strong> Carry out operator servicing and maintenance on Steel Wire Ropes (SWR)</p>
                                        <p><strong>S79:</strong> Clean equipment using high pressure water jets and refuel equipment from static and mobile sources</p>
                                        <p><strong>S80:</strong> Carry out compaction task using Engineer Construction Plant</p>
                                        <p><strong>S81:</strong> Manoeuvre the Light Dump Truck on a construction site</p>
                                        <p><strong>S82:</strong> Carry out basic fault identification on the engine, the electrical system, the fuel system, the cooling system and the hydraulic system</p>
                                        <p><strong>S83:</strong> Determine Health & Safety requirements for plant tools, materials and storage and use common and current in-use tools and compressed air/hydraulic tools</p>
                                   </div>
                              </div>
                         </div>
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-skills-heading-3">Behaviours</span>
                                   </h3>
                              </div>
                              <div id="accordion-skills-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-skills-heading-3">
                                   <div class="specific-text">
                                        <p><strong>B1:</strong> An alert and tactical awareness prior to, during and after any construction project in a hostile environment and be able to adapt to a changing environment</p>
                                        <p><strong>B2:</strong> The willingness to take charge of a situation should it be required</p>
                                        <p><strong>B3:</strong> The initiative to adapt, develop and overcome any situation that may arise during a task whilst maintaining a military approach</p>
                                        <p><strong>B4:</strong> A responsible attitude towards own and others safety in the workplace</p>
                                        <p><strong>B5:</strong> A strong Team spirit and Corps values</p>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <!-- //////////////////////////////// KSB's - END //////////////////////////////// -->

                    <!-- CHECK BOX - CONFIRM - START -->
                    <div class="govuk-form-group check-to-confirm apprenticeship-error-panel apprenticeship-unconfirmed">
                         <fieldset class="govuk-fieldset" aria-describedby="apprenticeship-hint">
                              <span id="apprenticeship-issued-error" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> Please check the box to confirm the details are correct
                              </span>
                              <div class="govuk-checkboxes">
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="apprenticeship-confirm" name="apprenticeship-confirm" type="checkbox" value="apprenticeship-confirm">
                                        <label class="govuk-label govuk-checkboxes__label" for="apprenticeship-confirm">
                                             I have read and understood the apprenticeship I am committing to.
                                             <!-- Please check the box to agree that your <a href="#apprenticeship-details-text">apprenticeship details</a> and
                                             <a href="#hours-details-text">estimated weekly hours</a> details are correct -->
                                        </label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
                    <!-- CHECK BOX - CONFIRM - END -->

                    <button class="govuk-button apprenticeship-unconfirmed" data-module="govuk-button" id="apprenticeship-details">Confirm</button>

                    <a href="../landing-page/index" class="secondary-link apprenticeship-unconfirmed">I want to complete this later</a>

                    <a href="#" onclick="history.go(-1)" class="govuk-back-link apprenticeship-confirmed">Back to landing page</a>

               </form>

          </div>
     </div>


</div>
{% endblock %}
