{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!--<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>-->
<p>&nbsp;<p>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">




        <form method="post" action="../sign-in/start-account" class="check-answers-page">



                                   <h2 class="govuk-heading-l">Login details</h2>


                              <div class="govuk-form-group">
                                <label class="govuk-label" for="email">
                                  Personal email address
                                </label>
                                <div id="email-hint" class="govuk-hint">
                                These are used in case you change employer
                                </div>
                                <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                              </div>


                                                  <div class="govuk-form-group">
                                                    <label class="govuk-label" for="email">
                                                      Re-enter your email address
                                                    </label>

                                                    <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                                                  </div>






                         <h2 class="govuk-heading-m">Create your password</h2>

                         <span class="govuk-caption-m">
                              Your password must:
                              <ul class="govuk-list govuk-list--bullet">
                                   <li>be at least 8 characters</li>
                                   <li>contain at least one letter (a-z)</li>
                                   <li>contain at least one number (0-9)</li>
                                   <li>match with the confirmed password</li>
                              </ul>
                         </span>

                         <div class="govuk-form-group">
                              <div class="password-wrapper">
                                   <input class="govuk-input govuk-!-width-three-quarters" id="apprentice-password" name="apprentice-password" type="password">
                                   <input type="checkbox" onclick="showPassword()" id="hide-show-password">
                                   <label class="hide-show-password govuk-heading-m" for="hide-show-password" style="left: 30em">
                                        SHOW
                                   </label>
                              </div>
                         </div>

                         <div class="govuk-form-group">
                              <label class="govuk-label govuk-label--s" for="apprentice-confirm-password">Confirm your password</label>
                              <div class="password-wrapper">
                                   <input class="govuk-input govuk-!-width-three-quarters" id="apprentice-confirm-password" name="apprentice-confirm-password" type="password">
                                   <input type="checkbox" onclick="showConfirm()" id="hide-show-confirm">
                                   <label class="hide-show-confirm govuk-heading-m" for="hide-show-confirm" style="left: 30em">
                                        SHOW
                                   </label>
                              </div>
                         </div>

                         {% from "govuk/components/button/macro.njk" import govukButton %}

                         {{ govukButton({
                              text: "Save and continue",
                              href: ""
                         }) }}
                    </form>

<!--
                    <a href="details-check" class="govuk-button" data-module="govuk-button" id="">Continue</a><br />
-->

          </div>
     </div>


</div>
{% endblock %}
