{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">




            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-l">How your apprenticeship will be delivered</h1>

                <p>
                  Your apprenticeship will be delivered in two parts:
                  </p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>a training period</li>
                  <li>an end-point assessment </li>

                </ul>

<!--
                  <table class="govuk-table data-table">
                       <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                 <th scope="row" class="govuk-table__header">Total planned off-the-job training hours</th>
                                 <td class="govuk-table__cell">900 hours</td>
                            </tr>
                       </tbody>
                  </table>
-->


                  <h3 class="govuk-heading-m" id="">Your training period</h3>
                  <p>
                    <b>Your employer</b>  will give you hands-on experience in your chosen occupation. They’ll provide you with training and supervision to help you develop the skills you need to perform the role you’ve been employed to do.
                    </p>
                    <P>

                    <b>  Your training provider</b> is responsible for your off-the-job training. Your off-the-job training will be at least 20% of your normal working hours spent learning new skills, knowledge and behaviours for your apprenticeship. Your off-the-job training will be managed by your training provider.                      </P>




                    <P>  <b>Your training plan</b> agreed between you and your training provider. The plan will set out a training schedule for your off-the-job training. Your training plan will include:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the delivery of the knowledge skills and behaviours required for your apprenticeship</li>
  <li>how your off-the-job training will be delivered. For example, you may do your off-the-job training for two hours per day or one day per week</li>
  <li>English and maths qualifications, if you have not already achieved these </li>
    <li>regular progress reviews with your employer and training provider</li>
</ul>


                          <h3 class="govuk-heading-m" id="">Your end-point assessment</h3>

                          <p>You will agree when you’re ready for your end-point assessment in your progress reviews with your employer and training provider.  </p>

                          <p>Your employer and training provider will tell you what to expect and when the assessment will take place.</p>

                          <p>You’ll be assessed by an independent end point assessor on the knowledge, skills and behaviours that you’ve learnt during your apprenticeship to confirm you’re occupationally competent. </p>




              </div>

          </div>

{% endblock %}
