{% extends "layout-landing.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../includes/account-page/navigation.html" %}
<div id="service-title-section" class="account-page"></div>
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ERROR MESSAGE - START
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li><a href="#apprentice-role-issued-error">Please check the box to agree to the apprentice roles and responsibilities</a></li>
                         </ul>
                    </div>
               </div> -->
               <!-- ERROR MESSAGE - END -->

               <!-- <span class="govuk-caption-m">Step 1 of 3</span> -->
               <h1 class="govuk-heading-xl" id="roles-text">
                    Roles and responsibilities
               </h1>

               <div class="govuk-form-group confirmed-panel roles-confirmed">
                    <div class="govuk-warning-text">
                         <span class="govuk-confirm__icon" aria-hidden="true"></span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed your apprentice roles and responsibilities
                         </strong>
                    </div>
               </div>


                 <p>Read through the roles and responsibilities of:</p>
                 <ul class="govuk-list govuk-list--bullet">
                   <li>You</li>
                   <li>your employer </li>
                   <li>your training provider</li>
                   </ul>



          </div>

          <div class="govuk-grid-column-full">



                    <div class="govuk-grid-row">

                         <div class="govuk-grid-column-full">

                              <div class="govuk-tabs" data-module="govuk-tabs">
                                   <h2 class="govuk-tabs__title">Contents</h2>

                                   <!-- TABS - START -->
                                   <ul class="govuk-tabs__list">
                                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                             <a class="govuk-tabs__tab" href="#roles-apprentice">You</a>
                                        </li>
                                        <li class="govuk-tabs__list-item">
                                             <a class="govuk-tabs__tab" href="#roles-employer">Your employer</a>
                                        </li>
                                        <li class="govuk-tabs__list-item">
                                             <a class="govuk-tabs__tab" href="#roles-provider">Your provider</a>
                                        </li>
                                   </ul>
                                   <!-- TABS - END -->

                                   <!-- TAB 1 - CONTENT - START -->
                                   <div class="govuk-tabs__panel" id="roles-apprentice">
                                        <h2 class="govuk-heading-m">Apprentice</h2>

                                        <p>
                                             These roles and responsibilities set out what is expected of you.
                                        </p>

                                        <p>
                                             <strong>I have:</strong>
                                        </p>

                                        <ul class="govuk-list govuk-list--bullet">
                                          <li>read and signed my apprenticeship agreement  </li>
                                          <li>been told when my apprenticeship starts and finishes</li>
                                          <li>understood the roles of my employer and training provider</li>
                                          <li>understood that I will be assessed by an independent end-point-assessment organisation </li>
                                          <li>read through my training plan with my employer and training provider</li>
                                          <li>understood that at least 20% of my apprenticeship hours will be off-the-job training</li>



                                        </ul>

                                        <p>
                                             <strong>I will:</strong>
                                        </p>

                                        <ul class="govuk-list govuk-list--bullet">

                                             <li>take part in regular progress reviews with my employer and provider</li>
                                              <li>go to all my off-the-job training and give evidence where needed</li>
                                              <li>complete all my learning activities, assignments and exams</li>
                                              <li>tell my employer in advance when I cannot attend work</li>
                                              <li>tell my training provider in advance when I cannot attend off the job training</li>
                                              <li>agree with my employer and training provider when I am ready to complete my end point assessment</li>
                                              <li>tell my employer and training provider about any learning support or health issues</li>
                                              <li>raise any concerns or complaints through my employer and provider’s official channels and take my complaint further if I need to</li>


                                        </ul>


                                   </div>
                                   <!-- TAB 1 - CONTENT - END -->

                                   <!-- TAB 2 - CONTENT - START -->
                                   <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="roles-employer">

                                        <h2 class="govuk-heading-m">Your employer</h2>



                                        <p>
                                             The roles and responsibilities set out what is expected of your employer.
                                        </p>

                                        <p>
                                             <strong>They have:</strong>
                                        </p>

                                        <ul class="govuk-list govuk-list--bullet">

                                          <li>signed an apprenticeship agreement between you–the apprentice–and them</li>
                                          <li>contributed to a training plan with you and your training provider</li>
                                          <li>committed to working with your training provider to support your training needs</li>
                                        </ul>

                                        <p>
                                             <strong>They will: </strong>
                                        </p>
                                        <ul class="govuk-list govuk-list--bullet">
                                          <li>enable you to complete your off-the-job training (20% minimum requirement) during your working hours
                                          <li>take part in regular progress reviews with you and your training provider
                                          <li>work with you and your training provider to resolve any concerns or complaints

                                         </ul>




                                   </div>
                                   <!-- TAB 2 - CONTENT - END -->

                                   <!-- TAB 3 - CONTENT - START -->
                                   <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="roles-provider">
                                        <h2 class="govuk-heading-m">Your training provider</h2>



                                        <p>
                                             The roles and responsibilities set out what is expected of your training provider.
                                        </p>
                                        <p>
                                             <strong>They have:</strong>
                                        </p>

                                        <ul class="govuk-list govuk-list--bullet">



                                             <li>a copy of the apprenticeship agreement signed by you–the apprentice–and your employer</li>
                                            <li>told you and your employer when the apprenticeship starts and ends</li>
                                            <li>explained how off-the-job training will be delivered </li>
                                            <li>told you and your employer about whether they will use sub-contracted training providers</li>
                                            <li>explained that you be assessed by an end-point assessment organisation</li>
                                            <li>signed a training plan with you and your employer</li>
                                            <li>discussed the training plan you and ensured it accounts for prior learning, English and maths needs and additional learning support</li>



                                        </ul>

                                        <p>
                                             <strong>They will: </strong>
                                        </p>
                                        <ul class="govuk-list govuk-list--bullet">
                                          <li>manage the quality and delivery of your off-the-job training</li>
                                          <li>take responsibility for regular progress reviews between all parties</li>
                                          <li>make sure that you and your employer know how to address concerns or complaints about the apprenticeship </li>




                                         </ul>



                                   </div>
                                   <!-- TAB 3 - CONTENT - END -->

                              </div>

                         </div>

                         <div class="govuk-grid-column-two-thirds">
                           <!--
                           <form id="roles-form-hide" method="post" action="/sprint-6/commitment-statement/3-roles/1-apprentice-role">

                            {{ govukRadios({
                              classes: "govuk-radios--inline",
                              idPrefix: "RolesR",
                              name: "RolesR",
                              fieldset: {
                                legend: {
                                  text: "Do you understand your roles and responsibilities?",
                                  isPageHeading: true,
                                  classes: "govuk-fieldset__legend--l"
                                }
                              },
                              items: [
                                {
                                  value: "yes",
                                  text: "Yes"
                                },
                                {
                                  value: "no",
                                  text: "No"
                                }
                              ]
                            }) }}

                                              <button class="govuk-button" data-module="govuk-button" id="roles-confirm">Confirm</button>
                           </form>

                           <br />-->
                               <a href="../dashboard/2-my-apprenticeships"  class="govuk-button" data-module="govuk-button" id="roles-confirm">Continue</a>


                                              <a href="../dashboard/2-my-apprenticeships" class="govuk-button" data-module="govuk-button" id="roles-confirmed" >Continue</a><br />
<!--
<a href="noconfirm-roles" class="govuk-!-font-size-19" data-module="govuk-button" id="roles-undo">I want to change my answer</a><br />
-->

                                    </div>
                               </div>
                           </div>
{% endblock %}
