{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ERROR MESSAGE - START -->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li><a href="#employer-issued-error">Please check the box to agree that the employer and training provider details are correct</a></li>
                         </ul>
                    </div>
               </div>
               <!-- ERROR MESSAGE - END -->

               <!-- <span class="govuk-caption-m">Step 1 of 3</span> -->
               <h1 class="govuk-heading-xl employer-provider-confirmed-title">
                    Check the employer and training provider information
               </h1>

               <div class="govuk-form-group confirmed-panel employer-provider-confirmed">
                    <div class="govuk-warning-text">
                         <span class="govuk-confirm__icon" aria-hidden="true"></span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Confirmed</span> You have confirmed that your employer and training provider information details are correct
                         </strong>
                    </div>
               </div>

               <form method="post" action="" class="employer-details check-answers-page">

                    <h2 class="govuk-heading-m" id="employer-details-text">
                         Employer details
                         <a href="2-wrong-info" class="main-change-link">Change</a>
                    </h2>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">Michael Perkins</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Position</th>
                                   <td class="govuk-table__cell">Business Manager</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Email</th>
                                   <td class="govuk-table__cell"><a href="mailto:m.perkins@cfa.org.uk">m.perkins@cfa.org.uk</a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Telephone</th>
                                   <td class="govuk-table__cell">0115 941 1126</td>
                              </tr> -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Organisation name</th>
                                   <td class="govuk-table__cell">Contract Flooring Association</td>
                              </tr>
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Address</th>
                                   <td class="govuk-table__cell">
                                        Unit 23<br>
                                        Eldon Business Park<br>
                                        Eldon Road<br>
                                        Nottingham<br>
                                        NG9 6DZ
                                   </td>
                              </tr> -->
                         </tbody>
                    </table>

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                              <h1 class="govuk-fieldset__heading">Has your employer given you their contact details?</h1>
                              </legend>
                              <div class="govuk-radios govuk-radios--inline">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="employer-contact-yes" name="employer-contact" type="radio" value="Yes">
                                        <label class="govuk-label govuk-radios__label" for="employer-contact-yes">Yes</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="employer-contact-no" name="employer-contact" type="radio" value="No">
                                        <label class="govuk-label govuk-radios__label" for="employer-contact-no">No</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <p>&nbsp;</p>

                    <h2 class="govuk-heading-m" id="provider-details-text">
                         Training provider details
                         <a href="2-wrong-info" class="main-change-link">Change</a>
                    </h2>

                    <table class="govuk-table data-table">
                         <tbody class="govuk-table__body">
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">Janice Hepworth</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Position</th>
                                   <td class="govuk-table__cell">Tutor</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Email</th>
                                   <td class="govuk-table__cell"><a href="mailto:janice.hepworth@abingdon-witney.ac.uk">janice.hepworth@abingdon-witney.ac.uk</a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Telephone</th>
                                   <td class="govuk-table__cell">01235 216 216</td>
                              </tr> -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Organisation name</th>
                                   <td class="govuk-table__cell">Abingdon & Witney College</td>
                              </tr>
                              <!-- <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Address</th>
                                   <td class="govuk-table__cell">
                                        Abingdon Campus<br>
                                        Wootton Road<br>
                                        Abingdon<br>
                                        OX14 1GG
                                   </td>
                              </tr> -->
                         </tbody>
                    </table>

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                              <h1 class="govuk-fieldset__heading">Has your training provider given you their contact details and the contact details of any sub-contractors?</h1>
                              </legend>
                              <div class="govuk-radios govuk-radios--inline">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="provider-contact-yes" name="provider-contact" type="radio" value="Yes">
                                        <label class="govuk-label govuk-radios__label" for="provider-contact-yes">Yes</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="provider-contact-no" name="provider-contact" type="radio" value="No">
                                        <label class="govuk-label govuk-radios__label" for="provider-contact-no">No</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <!-- CHECK BOX - CONFIRM - START -->
                    <div class="govuk-form-group check-to-confirm employer-error-panel employer-provider-unconfirmed">
                         <fieldset class="govuk-fieldset" aria-describedby="employer-hint">
                              <span id="employer-issued-error" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> Please check the box to confirm the details are correct
                              </span>
                              <div class="govuk-checkboxes">
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="employer-confirm" name="employer-confirm" type="checkbox" value="employer-confirm">
                                        <label class="govuk-label govuk-checkboxes__label" for="employer-confirm">
                                             Please check the box to agree that the <a href="#employer-details-text">employer</a> and
                                             <a href="#provider-details-text">training provider</a> details are correct
                                        </label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
                    <!-- CHECK BOX - CONFIRM - END -->

                    <button class="govuk-button employer-provider-unconfirmed" data-module="govuk-button" id="employer-details">Confirm</button>

                    <a href="../landing-page/index" class="secondary-link employer-provider-unconfirmed">I want to complete this later</a>

                    <a href="#" onclick="history.go(-1)" class="govuk-back-link employer-provider-confirmed">Back to landing page</a>

               </form>

          </div>
     </div>
</div>
{% endblock %}
