{% extends "layout-provider.v1.html" %}

{% block pageTitle %}
Recognition of prior learning - Apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="govuk-width-container " id="landing-page-section">

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">


        <form id="addApprenticeship" novalidate method="post">

          <input id="EmployerAccountLegalEntityPublicHashedId" name="EmployerAccountLegalEntityPublicHashedId"
            type="hidden" value="R5WE96" />
          <input data-val="true" data-val-required="The HasMultipleDeliveryModelOptions field is required."
            id="HasMultipleDeliveryModelOptions" name="HasMultipleDeliveryModelOptions" type="hidden" value="False" />

          <button type="submit" id="defaultButton" aria-hidden="true" class="govuk-visually-hidden"
            tabindex="-1"></button>


          <input id="ReservationId" name="ReservationId" type="hidden" value="fd39bf5c-6dc9-4264-a32d-e923393bd296" />
          <input data-val="true" data-val-required="The IsContinuation field is required." id="IsContinuation"
            name="IsContinuation" type="hidden" value="False" />
          <input id="IsOnFlexiPaymentPilot" name="IsOnFlexiPaymentPilot" type="hidden" value="False" />
          <input data-val="true"
            data-val-maxlength="The field Employer must be a string or array type with a maximum length of &#x27;100&#x27;."
            data-val-maxlength-max="100" id="Employer" name="Employer" type="hidden"
            value="TEST &amp; MAINTAIN LIMITED" />
          <input type="hidden" data-val="true" data-val-required="The HasStandardOptions field is required."
            id="HasStandardOptions" name="HasStandardOptions" value="False" />
          <input type="hidden" id="TrainingCourseOption" name="TrainingCourseOption" value="" />
          <input type="hidden" data-val="true"
            data-val-required="The HasUnavailableFlexiJobAgencyDeliveryModel field is required."
            id="HasUnavailableFlexiJobAgencyDeliveryModel" name="HasUnavailableFlexiJobAgencyDeliveryModel"
            value="False" />


          <h1 class="govuk-heading-xl">Add apprentice details</h1>

          <div class="govuk-inset-text">
            <p class="govuk-body">You can only receive payments for this apprentice if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>all the fields have been completed - either by yourself or the employer</li>
              <li>the data matches the individual learner record (ILR) data you send us</li>
            </ul>
          </div>

          <div>
            <input type="hidden" class="govuk-radios__input" value="463" id="CourseCode" name="CourseCode">
            <input type="hidden" class="govuk-radios__input" value="Regular" id="DeliveryModel" name="DeliveryModel">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key" id="employer-label">
                  Employer
                </dt>
                <dd class="govuk-summary-list__value" id="employer-value">
                  TEST &amp; MAINTAIN LIMITED
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" id="course-label">
                  Training course
                </dt>
                <dd class="govuk-summary-list__value" id="course-value">
                  Acoustics technician, Level: 4
                </dd>
                <dd class="govuk-summary-list__actions">
                  <button id="change-course-link" type="submit" name="ChangeCourse" value="Edit"
                    class="das-button--inline-link">
                    Change<span class="govuk-visually-hidden"> apprenticeship training course</span>
                  </button>
                </dd>
              </div>


            </dl>
          </div>

          <h2 class="govuk-heading-l">Apprentice personal details</h2>
          <div class="govuk-form-group ">
            <label class="govuk-label govuk-!-font-weight-bold" for="Uln">Unique learner number</label>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Uln" data-valmsg-replace="true"
              id="error-message-Uln"></span>
            <input class="govuk-input govuk-!-width-three-quarters" type="text" id="Uln" name="Uln" value="" />
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group ">
                <label class="govuk-label govuk-!-font-weight-bold" for="FirstName">First name</label>
                <span class="field-validation-valid govuk-error-message" data-valmsg-for="FirstName"
                  data-valmsg-replace="true" id="error-message-FirstName"></span>
                <input class="govuk-input" type="text" id="FirstName" name="FirstName" value="" />
              </div>
              <div class="govuk-form-group ">
                <label class="govuk-label govuk-!-font-weight-bold" for="LastName">Last name</label>
                <span class="field-validation-valid govuk-error-message" data-valmsg-for="LastName"
                  data-valmsg-replace="true" id="error-message-LastName"></span>
                <input class="govuk-input" type="text" id="LastName" name="LastName" value="" />
              </div>
              <div class="govuk-form-group ">
                <label class="govuk-label govuk-!-font-weight-bold" for="Email">Email Address</label>
                <span class="field-validation-valid govuk-error-message" data-valmsg-for="Email"
                  data-valmsg-replace="true" id="error-message-Email"></span>
                <input class="govuk-input" type="text" id="Email" name="Email" value="" />
                <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Why do we need an email address?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Your apprentice will receive an email alert inviting them to the My apprenticeship service. On the
                    service, your apprentice will be able to:
                    <ul class="govuk-list govuk-list--bullet">
                      <li>review and confirm their apprenticeship details</li>
                      <li>understand the roles and responsibilities of an apprentice, an employer and a training
                        provider</li>
                      <li>find help and support during their apprenticeship</li>
                    </ul>
                  </div>
                </details>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Date of birth
              </legend>
              <span id="dob-hint" class="govuk-hint">
                For example, 27 3 2001
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="DateOfBirth"
                data-valmsg-replace="true" id="error-message-DateOfBirth"></span>
              <div class="govuk-date-input" id="DateOfBirth">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="BirthDay">Day</label>
                    <input min="1" max="31" class="govuk-input govuk-date-input__input govuk-input--width-2"
                      type="number" id="BirthDay" name="BirthDay" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="BirthMonth">Month</label>
                    <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2"
                      type="number" id="BirthMonth" name="BirthMonth" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="BirthYear">Year</label>
                    <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4"
                      type="number" id="BirthYear" name="BirthYear" value="">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <h1 class="govuk-heading-l  govuk-!-margin-top-9">Apprentice training details</h1>

          <div id="start-date-section" class="govuk-form-group  ">
            <fieldset class="govuk-fieldset" aria-describedby="start-date-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Planned training start date
              </legend>
              <span id="start-date-hint" class="govuk-hint">
                For example, 9 2022
                The standard version will be based on the planned training start date provided
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="StartDate"
                data-valmsg-replace="true" id="error-message-StartDate"></span>
              <div class="govuk-date-input" id="StartDate">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="StartMonth">Month</label>
                    <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2"
                      type="number" id="StartMonth" name="StartMonth" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="StartYear">Year</label>
                    <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4"
                      type="number" id="StartYear" name="StartYear" value="">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Planned training end date
              </legend>
              <span id="finish-date-hint" class="govuk-hint">
                For example, 6 2024
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="EndDate"
                data-valmsg-replace="true" id="error-message-EndDate"></span>
              <div class="govuk-date-input" id="EndDate">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="EndMonth">Month</label>
                    <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input--width-2"
                      type="number" id="EndMonth" name="EndMonth" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="EndYear">Year</label>
                    <input min="1900" max="9999" class="govuk-input govuk-date-input__input govuk-input--width-4"
                      type="number" id="EndYear" name="EndYear" value="">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
<!-- 

          <div class="govuk-form-group ">
            <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total agreed apprenticeship price (excluding
              VAT)</label>
            <span id="price-hint" class="govuk-hint">
              Enter the price you have agreed with the employer, including any end-point assessment costs, in whole pounds. For example, for £1,500 enter 1500
            </span>
            <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true"
              id="error-message-Cost"></span>
            <span class="govuk-body govuk-!-font-weight-bold">£ </span><input class="govuk-input govuk-input--width-5"
              type="number" id="Cost" name="Cost" value="" />
          </div>
 -->

          <div class="govuk-character-count" data-module="character-count" data-maxlength="20">
            <div class="govuk-form-group ">
              <label class="govuk-label govuk-!-font-weight-bold" for="Reference">Reference (optional)</label>
              <span id="reference-hint" class="govuk-hint">
                Add a reference, such as employee number or location - this won’t be seen by the employer
              </span>
              <span class="field-validation-valid govuk-error-message" data-valmsg-for="Reference"
                data-valmsg-replace="true" id="error-message-Reference"></span>

              <input maxlength="20" class="govuk-input govuk-!-width-three-quarters js-character-count" type="text"
                id="Reference" name="Reference" value="" />
            </div>
          </div>

          <div class="govuk-inset-text">
            <p class="govuk-body govuk-!-font-weight-bold">End-point assessments</p>
            <p class="govuk-body">We'll ask the employer to confirm the <a class="govuk-link"
                href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations"
                target="_blank" title="Opens in a new window">apprentice assessment organisation</a> for this
              apprentice. We'll do this before the end of the apprenticeship.</p>
          </div>

        </form>


        <a href="standard-details.html" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
          Save and continue
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}