{% extends "layout-provider.v1.html" %}

{% set serviceName %}
Manage apprenticeships
{% endset%}

{% block pageTitle %}
Manage your apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/training-provider-account-header.html" %}
<nav class="das-navigation" style="">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="govuk-width-container " id="">
  <a href="#"  onclick="history.go(-1)" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{data.apprentices[data.apprentice].name or 'Rufus Kelly' }}</h1>

      <h2 class="govuk-heading-m">Overview</h2>
      <table class="govuk-table govuk-!-margin-bottom-9">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Employer</th>
            <td id="apprenticeship-employer" class="govuk-table__cell">LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT
              COMPANY</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Cohort reference</th>
            <td id="apprenticeship-reference" class="govuk-table__cell">VBPW7N</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Agreement ID</th>
            <td id="apprenticeship-agreement-id" class="govuk-table__cell">N4E66Y</td>
          </tr>
<!--         </tbody>
      </table>

      <h2 class="govuk-heading-m">Status</h2>
      <table class="govuk-table govuk-!-margin-bottom-9">
        <tbody class="govuk-table__body"> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Status</th>
            <td id="apprenticeship-status" class="govuk-table__cell">Live</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apprentice confirmation</th>
            <td id="apprenticeship-status" class="govuk-table__cell">Confirmed</td>
          </tr>
        </tbody>
      </table>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Apprentice</h2>
        </div>
        <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet"  style="text-align: right !important;">
          <a id="edit-apprentice-link"
            href="edit-details?apprentice={{data.apprentice}}"
            class="govuk-link govuk-body">Change<span class="govuk-visually-hidden"> apprentice details</span></a>
        </div>
      </div>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <td id="apprentice-name" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].name or 'Rufus Kelly' }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email</th>
            <td id="apprentice-uln" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].name | lower | replace(" ", ".") or 'rufus.kelly' }}@gmail.com</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td id="apprentice-dob" class="govuk-table__cell">18 Feb 1995</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Unique learner number</th>
            <td id="apprentice-uln" class="govuk-table__cell">7230452014</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Course details</h2>
        </div>
        <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet"  style="text-align: right !important;">
          <a id="edit-apprentice-link"
            href="edit-details?apprentice={{data.apprentice}}"
            class="govuk-link govuk-body">Change<span class="govuk-visually-hidden"> course</span></a>
        </div>
      </div>
        <table class="govuk-table govuk-!-margin-bottom-9">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Training course</th>
            <td id="apprentice-course" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].standard or 'Actuarial technician, Level: 4 (Standard)' }}</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Delivery model</th>
            <td id="apprentice-deliverymodel" class="govuk-table__cell">Regular</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Version</th>
            <td id="apprentice-course" class="govuk-table__cell">1.1</td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Actual training start date</th>
            <td id="apprentice-start-date" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].start or 'Sep 2022' }}</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Planned training end date</th>
            <td id="apprentice-end-date" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].end or 'Apr 2029' }}</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Duration reduction due to prior learning</th>
            <td id="rpl-duration" class="govuk-table__cell" colspan="2">
              {{data.RPL or '14'}} weeks
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Price reduction due to prior learning</th>
            <td id="rpl-cost" class="govuk-table__cell" colspan="2">
              £{{data.RPL_cost or '2,000'}} </td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
            <td id="apprentice-price" class="govuk-table__cell">£2,500</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Your reference</th>
            <td id="apprentice-reference" class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}