{% extends "layout-landing-provider.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "../provider/includes/navigation-provider.html" %}

<div id="service-title-section" class="landing-page ">
</div>
<div class="govuk-width-container " id="landing-page-section">
<main class="govuk-main-wrapper employer-overide" id="main-content" role="main">


<div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-form-group govuk-!-margin-top-6">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Provide recognition of prior learning (RPL) details
                </h1>
            </legend>
<!--            <div id="sign-in-hint" class="govuk-hint">-->
<!--               Tell us more about the effect of RPL on this apprenticeship-->
<!--            </div>-->
<!--        </fieldset>-->
<!--        <div class="govuk-form-group  ">-->
<!--            <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">-->
<!--                <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;s">-->
<!--                    How many weeks have you reduced the apprenticeship duration by due to RPL?-->
<!--                </legend>-->
<!--                <span id="finish-date-hint" class="govuk-hint">-->
<!--                            Enter the reduction in weeks-->
<!--                        </span>-->
<!--                <span class="field-validation-valid govuk-error-message" data-valmsg-for="EndDate" data-valmsg-replace="true" id="error-message-EndDate"></span>-->
<!--                <div class="govuk-date-input">-->
<!--                    <div class="govuk-date-input__item">-->
<!--                        <div class="govuk-form-group">-->
<!--                            <label class="govuk-label govuk-date-input__label" for="EndMonth">Weeks</label>-->
<!--                            <input min="1" max="12" class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2" type="number" id="EndMonth" name="EndMonth" value="">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </fieldset>-->
            <div class="govuk-form-group govuk-form-group--error">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    How many weeks have you reduced the apprenticeship duration by due to RPL?
                </legend>
<!--                <span id="finish-date-hint" class="govuk-hint">-->
<!--                            Enter the reduction in hours-->
<!--                        </span>-->
                <p id="cost-per-item-error-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Number of weeks must be between 0 and 999
                </p>
                <div class="govuk-input__wrapper">
                    <label class="govuk-label govuk-date-input__label" for="EndMonth">Weeks</label>
                    <input class="govuk-input govuk-input--width-5 govuk-input--error" id="cost-per-item-error" name="cost-per-item-error" type="text" spellcheck="false" aria-describedby="cost-per-item-error-error">
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-6">
                <label class="govuk-label govuk-!-font-weight-bold" for="Cost">How much have you reduced the apprenticeship price by due to RPL?</label>
                <span id="price-hint" class="govuk-hint">
                           Enter the price in whole pounds. For example, for £1,500 enter 1500
                        </span>
                <span class="field-validation-valid govuk-error-message" data-valmsg-for="Cost" data-valmsg-replace="true" id="error-message-Cost"></span>
                <span class="govuk-body govuk-!-font-weight-bold">£ </span><input class="govuk-input govuk-input--width-5" type="number" id="Cost" name="Cost" value="">
            </div>
        </div>
        <a href="" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
            Save and continue
        </a>
    </div>
    </div>


            </main>
</div>

{% endblock %}
