<div>
  <h2 class="govuk-heading-m">My apprenticeship timeline</h2>

  <div class="as-timeline govuk-!-margin-bottom-6">

    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of employer
      </h2>
      <p>Your employer changed to TRAINING AND APPRENTICESHIPS IN CONSTRUCTION LIMITED.<br>
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          November 2022
        </time>
      </p>
    </div>
    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of employer
      </h2>
      <p>Your employer changed to CAPITAL CONSTRUCTION & MAINTENANCE LTD.<br>
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          May 2022
        </time>
      </p>
    </div>

    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of employer
      </h2>
      <p>Your employer changed to INTERIOR SERVICES GROUP (UK HOLDINGS) LIMITED.<br>
      </p>
      <p class="as-timeline__date">
        Start date:  <time datetime="2021-03-15T16:27:00.000Z">
          February 2022
        </time>
      </p>
    </div>
    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of training provider
      </h2>
      <p>Your training provider changed to CENTRAL TRAINING ACADEMY LIMITED.<br>
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          September 2021
        </time>
      </p>
    </div>

    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of delivery model 
      </h2>
      <p>Your delivery model changed from regular to portable flexi-job.<br>
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          February 2022
        </time>
      </p>
    </div>

    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of employer
      </h2>
      <p>Your employer changed to KILNBRIDGE CONSTRUCTION SERVICES LTD..<br>
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          October 2021
        </time>
      </p>
    </div>
    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of training provider
      </h2>
      <p>Your training provider changed to CoTrain.<br>
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          September 2021
        </time>
      </p>
    </div>

    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        Change of employer
      </h2>
      <p>Your employer changed to Green Square Accord.
      </p>
      <p class="as-timeline__date">
        Start date: <time datetime="2021-03-15T16:27:00.000Z">
          July 2021
        </time>
      </p>
    </div>

    <div class="as-timeline__item">
      <h2 class="as-timeline__title">
        You started your apprenticeship training
      </h2>

      <p class="as-timeline__date">
        <time datetime="2021-01-25T09:35:00.000Z">
          January 2021
        </time>
      </p>
    </div>

  </div>
</div>