{% extends "layout.v1.html" %}

{% block pageTitle %}
My progress - {{serviceName}} - GOV.UK
{% endblock %}

{% set headerText="Chittur Gopalakrishnan Kaashi Vishwanathan" %}
{% set knowledge_scores=[100, 100, 1, 1, 1, 1, 20] %}
{% set skill_scores=[40, 100, 40, 1, 60, 1, 40] %}
{% set behaviour_scores=[100, 40, 100, 60, 80, 80, 40] %}
{% block beforeContent %}
{% include "./includes/account-header.html" %}
{% include "includes/beta-phase-banner.html" %}
{% include "./includes/navigation-post-confirmation.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container " id="landing-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">My progress
        <span class="govuk-caption-m">Construction site supervisor</span>
      </h1>

      <div class="">
        <p>This shows your progress against the list of knowledge, skills and behaviours (KSBs) needed to complete this
          apprenticeship.</p>
        <p><a
            href="https://www.instituteforapprenticeships.org/apprenticeship-standards/construction-site-supervisor-v1-0"
            class="govuk-link">View the full IFATE standard (opens in new tab)</a></p>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <!--             <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                show only recorded progress items
              </label>
            </div> -->
          </div>
        </fieldset>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Summary</h2>

      <div class="mc-chart-container" aria-labelledby="mc-chart-not-accessible-0">
        <div aria-hidden="true" class="js-barchart-table mc-auto-outdent mc-chart mc-multiple">
          <div class="mc-thead">
<!--             <div class="mc-tr">
              <div class="mc-th">Shop</div>
              <div class="mc-th mc-key-header mc-key-1">Apples</div>
              <div class="mc-th mc-key-header mc-key-2">Bananas</div>
            </div> -->
          </div>
          <div class="mc-tbody">
            <div class="mc-tr">
<!--               <div class="mc-td mc-key-cell"></div> -->
          {% for knowledge in data.standards.knowledges %}
            {% if knowledge_scores[loop.index0] == 1 %}
              <div class="mc-td mc-bar-cell mc-bar-1 mc-bar-indented" style="width: 1%; color:black"><span><strong>K{{loop.index}}</strong>:0 </span></div>
            {% else %}
              <div class="mc-td mc-bar-cell mc-bar-1 mc-bar-indented" style="width: {{knowledge_scores[loop.index0]}}%;"><span><strong>K{{loop.index}}</strong>: {{knowledge_scores[loop.index0]}} </span></div>
            {% endif %}
            
          {% endfor %}
            </div>
            <div class="mc-tr">
<!--               <div class="mc-td mc-key-cell"></div> -->
              {% for knowledge in data.standards.skills %}
               {% if skill_scores[loop.index0] == 1 %}
              <div class="mc-td mc-bar-cell mc-bar-2 mc-bar-indented" style="width: 1%; color:black"><span><strong>S{{loop.index}}</strong>:0 </span></div>
            {% else %}
            <div class="mc-td mc-bar-cell mc-bar-2" style="width: {{skill_scores[loop.index0]}}%;"><span><strong>S{{loop.index}}</strong>: {{skill_scores[loop.index0]}} </span></div>
            {% endif %}
              {% endfor %}
            </div>
            <div class="mc-tr">
 <!--              <div class="mc-td mc-key-cell"></div> -->
              {% for knowledge in data.standards.behaviours %}
              <div class="mc-td mc-bar-cell mc-bar-3" style="width: {{behaviour_scores[loop.index0]}}%;"><span><strong>B{{loop.index}}</strong>: {{behaviour_scores[loop.index0]}} </span></div>
              {% endfor %}
            </div>
          </div>
        </div><span class="mc-hidden" id="mc-chart-not-accessible-0">This content is not accessible - switch to
          table</span>
      </div>
    </div>
  </div>

      <h2 class="govuk-heading-m">Knowledge</h2>
      <table class="govuk-table data-tble">
        <tbody class="govuk-table__body">
          {% for knowledge in data.standards.knowledges %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <p id=K{{loop.index}}>
                <strong>K{{loop.index}}</strong>: {{knowledge.detail}}
              </p>
            </th>
            <td class="govuk-table__cell width-one-fifth">
              <!--  comment out tags  -->
              {# if knowledge_scores[loop.index0] == 0 %}
              <span class="govuk-tag govuk-tag--grey">Not started</span>
              {% elif knowledge_scores[loop.index0] == 100 %}
              <span class="govuk-tag govuk-tag--blue">Ready for EPA</span>
              {% else %}
              {{ knowledge_scores[loop.index0] }}
              {% endif #}
              {{ knowledge_scores[loop.index0] }}
              <!-- <span class="govuk-tag govuk-tag--turquoise">On track</span> -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Skills</h2>
      <table class="govuk-table data-tble">
        <tbody class="govuk-table__body">
          {% for skill in data.standards.skills %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <p id=K{{loop.index}}>
                <strong>S{{loop.index}}</strong>: {{skill.detail}}
              </p>
            </th>
            <td class="govuk-table__cell width-one-fifth">
              <!--  comment out tags  -->
              {# if skill_scores[loop.index0] == 0 %}
              <span class="govuk-tag govuk-tag--grey">Not started</span>
              {% elif skill_scores[loop.index0] == 100 %}
              <span class="govuk-tag govuk-tag--blue">Ready for EPA</span>
              {% else %}
              {{ skill_scores[loop.index0] }}
              {% endif #}
              {{ skill_scores[loop.index0] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Behaviours</h2>
      <table class="govuk-table data-tble">
        <tbody class="govuk-table__body">
          {% for behaviour in data.standards.behaviours %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <p id=K{{loop.index}}>
                <strong>B{{loop.index}}</strong>: {{behaviour.detail}}
              </p>
            </th>
            <td class="govuk-table__cell width-one-fifth">
              <!--  comment out tags  -->
              {# if behaviour_scores[loop.index0] == 0 %}
              <span class="govuk-tag govuk-tag--grey">Not started</span>
              {% elif behaviour_scores[loop.index0] == 100 %}
              <span class="govuk-tag govuk-tag--blue">Ready for EPA</span>
              {% else %}
              {{ behaviour_scores[loop.index0] }}
              {% endif #}
              {{ behaviour_scores[loop.index0] }}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}