{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!-- Main content starts -->

<!-- Full width heading starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-full govuk-!-margin-top-6">
          <h1 class="govuk-heading-xl">
         CMAD updates and changes
          </h1>
     </div>
</div>
<!-- Full width heading ends -->

<!-- Two thirds header section starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
         <h2 class="govuk-heading-m">Apprenticeship timeline</h2>
         <p class="govuk-body"><srtong>Scenario: </srtong> Details of the change.<br> </p>
         <ul class="govuk-list">
             <li><a href="sprint-39/commitment-statement/dashboard/my-apprenticeship-current-b.html">Apprentice timeline concept</a> </li>
             <li><a href="sprint-39/commitment-statement/dashboard/my-apprenticeship-current-c.html">Apprentice timeline </a> </li>
             <li><a href="sprint-39/commitment-statement/dashboard/my-apprenticeship-current-e.html">Apprentice timeline with dates</a> </li>
             <li><a href="sprint-39/commitment-statement/dashboard/my-apprenticeship-current-f.html">Apprentice timeline updated start label</a> </li>
             <li><a href="sprint-39/commitment-statement/dashboard/my-apprenticeship-current-c.html">Apprentice timeline with dates</a> </li>
         </ul>
         <h2 class="govuk-heading-m">Improving confirmation of confirmations</h2>
         <p class="govuk-body"><strong>Scenario: </strong> The service has been recieving support calls due to apprentices not clicking the confirmation button once they have conpleted the steps for confriming their apprenticeship.<br>
         </p>
         <p> <strong>Solution: </strong> remove the added confirmation section and add another step to the journey to confirm.<br>
         </p>
         <p><a href="sprint-33/commitment-statement/dashboard/2-my-apprenticeships-3.html">View</a></p>
         <h2 class="govuk-heading-m">My apprenticeship details</h2>
         <p><strong>Scenario: </strong></p>
         <p><a href="sprint-39/commitment-statement/dashboard/my-apprenticeship-current-d.html">My apprenticeship details</a></p>
     </div>
</div>



<!-- Main content ends -->
{% endblock %}
