{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!-- Main content starts -->

<!-- Full width heading starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-full govuk-!-margin-top-6">
          <h1 class="govuk-heading-xl">
          Team Avocado UCD prototypes
          </h1>
     </div>
</div>
<!-- Full width heading ends -->

<!-- Two thirds header section starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <ul class="pt-Panels">
               <li>
                    <h2 class="govuk-heading-m">CMAD design history</h2>
                    <p>Sprint details, designs and iterations of CMAD</p>

                    <a href="confirm-my-apprenticeship-details-design-history.html" class="govuk-link">Go ></a>
               </li>
               <li>
                    <h2 class="govuk-heading-m">Track progress prototypes</h2>
                    <p>Design concepts and journeys for track progress</p>

                    <a href="track-progress" class="govuk-link">Go ></a>
               </li>
               <li>
                    <h2 class="govuk-heading-m">Recognition of prior learning (RPL)</h2>
                    <p>Design of RPl capture screens</p>

                    <a href="RPL.html" class="govuk-link">Go ></a>
               </li>
               <li>
                    <h2 class="govuk-heading-m">CMAD BAU and Upgrades</h2>
                    <p>See details of upgrades and changes to CMAD</p>

                    <a href="CMAD-changes.html" class="govuk-link">Go > </a>
               </li>
          </ul>


<!--          <h2 class="govuk-heading-m govuk-!-margin-top-6">-->
<!--               Who's working on this project?-->
<!--          </h2>-->
<!--          <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--               <li><a class="govuk-link govuk-link&#45;&#45;no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/189759681/Content+design+team" title="Link to Caitlin profile on Confluence">Caitlin Reidy</a> &ndash; Content Designer</li>-->
<!--               <li><a class="govuk-link govuk-link&#45;&#45;no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1070924516/Interaction+Design+Clan" title="Link to Darren's profile on Confluence">Darren</a> &ndash; Interaction Designer</li>-->

<!--               <li><a class="govuk-link govuk-link&#45;&#45;no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/people/5f9c3ddab38e610071223a3d" title="Link to Andrew's profile on Confluence">Andrew Stocker</a> &ndash; User Researcher</li>-->
<!--          </ul>-->
     </div>
</div>



<!-- Main content ends -->
{% endblock %}
