{% extends "layout.html" %}

{% block pageTitle %}
My Apprenticeship - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!-- Main content starts -->

<!-- Full width heading starts -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <h1 class="govuk-heading-xl">
      Team Avocado UCD prototypes
    </h1>
  </div>
</div>
<!-- Full width heading ends -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">

      <li>
        <h2 class="govuk-heading-m">Accelerated Apprenticeships beta</h2>
        <p><a href="sprint-53/provider/home" class="govuk-link">End-to-end RPL capture journey</a>
        </p>
        <p><a href="sprint-53/provider/rpl-details" class="govuk-link">RPL details</a></p>
        <p><a href="sprint-53/provider/check-your-answers" class="govuk-link">Funding calculation</a></p>
        <p><a href="sprint-53/home" class="govuk-link">Edit RPL</a></p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Accelerated Apprenticeships alpha</h2>
        <p><a href="https://das-aan-prototype.herokuapp.com/apprentices/apprentices" target="_blank"
            class="govuk-link">Apprentice awareness</a></p>
        <p><a href="https://das-aan-prototype.herokuapp.com/employers/employers" target="_blank"
            class="govuk-link">Employer awareness</a></p>
        <p><a href="https://das-aan-prototype.herokuapp.com/" target="_blank" class="govuk-link">Awareness:
            Apprenticeships.gov.uk</a></p>
        <p><a href="https://www.gov.uk/government/publications/apprenticeships-recognition-of-prior-learning"
            target="_blank" class="govuk-link">Awareness: GOV.UK guidance </a></p>
        <br />
        <p><a href="sprint-53/alpha-skill-scan/vacancy?skillscan=false" class="govuk-link">Accelerated Apprenticeships:
            qualifications</a></p>
        <p><a href="sprint-53/alpha-skill-scan/vacancy?skillscan=true" class="govuk-link">Accelerated Apprenticeships:
            skill scan</a></p>
        <p><a href="sprint-53/alpha-skill-scan/review-duties?skillscan=true" class="govuk-link">Accelerated
            Apprenticeships: skill scan (duties)</a></p>
        <br />

      </li>
      <br />
      <br />
      <li>
        <h2 class="govuk-heading-m">Recognition of prior learning (RPL)</h2>
        <p><a href="RPL.html" class="govuk-link">Design of RPl capture screens</a></p>
      </li>
      <li>
        <h2 class="govuk-heading-m">CMAD design history</h2>
        <p><a href="confirm-my-apprenticeship-details-design-history.html" class="govuk-link">Sprint details, designs
            and
            iterations of CMAD</a></p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Track progress</h2>
        <p><a href="track-progress" class="govuk-link">Design concepts and journeys for track progress</a></p>
      </li>

    </ul>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Useful links</h2>
    <ul class="govuk-list">
      <li><a href="sprint-48/apprentice/index" target="">Latest prototype for My apprenticeship </a></li>
      <li><a href="sprint-52/apprentice/index" target="">Work in progress: My apprenticeship </a></li>

      <li class=""><a
          href="https://lucid.app/lucidspark/c46f182f-74c5-4d79-a5bb-230ea27973ef/edit?invitationId=inv_2ae112ee-d7a8-4159-bb72-2f84ce7c333a#"
          target="_blank">Planning board</a></li>
      <li><a
          href="https://lucid.app/lucidspark/5b0ee174-b4ce-42b2-a73a-d7bd22914775/edit?invitationId=inv_3fea5147-6a94-4242-9e46-29692bcb559f#"
          target="_blank">UCD board</a></li>
      <li><a
          href="https://docs.google.com/presentation/d/1Wat8Nih7aUNA3zsKSEbT_AtnEyZT0IcSjW9jdrJCf2g/edit#slide=id.g11fb15a3b7a_0_69#"
          target="_blank">Differences between PFJA and FJAA</a></li>
      <li><a
          href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/3655106561/Standards+included+in+the+Portable+Flexi+Job+pilot"
          target="_blank">Standards included in the Portable flexi job pilot</a></li>
      <li><a href="https://docs.google.com/presentation/u/2/?tgif=d" target="_blank">Slides</a></li>
      <li><a href="https://drive.google.com/drive/u/2/folders/1CFviCrzhclE9mGQHwObEDcvodvabI-H1" target="_blank">Google
          drive design folder</a></li>
      <li><a
          href="https://lucid.app/lucidspark/2c9b512f-63cd-46c2-8610-4dd0d2172ee3/edit?invitationId=inv_dc334ee2-56a3-419b-a58f-8ab92c56e3bd#"
          target="_blank">Approvals board</a></li>
      <li><a href="https://www.figma.com/file/arZZIaxI1D7SGUTNuHKbKt/Untitled?node-id=4%3A10" target="_blank">Figma
          board</a></li>
      <li><a
          href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1434419242/Acronyms+terms+within+ESFA"
          target="_blank">Apprentice service acronyms list</a></li>

    </ul>
  </div>
</div>

{% endblock %}