{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!-- Main content starts -->

<!-- Full width heading starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-full govuk-!-margin-top-6">
          <h1 class="govuk-heading-xl">
               RPL prototypes
          </h1>
     </div>
</div>
<!-- Full width heading ends -->

<!-- Two thirds header section starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <ul>
               <li><h3 class="govuk-heading-m">RPL</h3><br>
                    Must haves
                    <p>DAS account holder needs to record RPL information when adding a new apprentice.
                         The add apprentice journey has been update to capture RPL. We have two tests one using weeks as a measure
                         of time and another using hours.
                    </p>
                    <ul class="govuk-list">
                         <li>
                              <a href="/track-progress/provider/Home-rpl.html">Version 1</a>: Weeks</li>
                         <li><a href="/track-progress/provider/rpl-hours/Home-rpl.html">Version 2</a>: Hours</li>
                    </ul>
                    Should haves
                    <ul>
                         <li><p>Changes to apprentice approvals page <a href="/track-progress/provider/approve-rpl.html">view</a>. </p> </li>
                         <li><p>Changes to apprentice details page <a href="/track-progress/provider/details-rp-7.html">view</a>.</p></li>
                    </ul>
                    To do:
                    <ul>
                         <li>
                              <p>Training provider viewing RPL on an approved apprenticeship <a href="/sprint-39/provider/pas-view-rpl/Home.html">view</a>
                              </p>
                         </li>
                    </ul>
               </li>
          </ul>


<!--          <h2 class="govuk-heading-m govuk-!-margin-top-6">-->
<!--               Who's working on this project?-->
<!--          </h2>-->
<!--          <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--               <li><a class="govuk-link govuk-link&#45;&#45;no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/189759681/Content+design+team" title="Link to Caitlin profile on Confluence">Caitlin Reidy</a> &ndash; Content Designer</li>-->
<!--               <li><a class="govuk-link govuk-link&#45;&#45;no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1070924516/Interaction+Design+Clan" title="Link to Darren's profile on Confluence">Darren</a> &ndash; Interaction Designer</li>-->

<!--               <li><a class="govuk-link govuk-link&#45;&#45;no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/people/5f9c3ddab38e610071223a3d" title="Link to Andrew's profile on Confluence">Andrew Stocker</a> &ndash; User Researcher</li>-->
<!--          </ul>-->
     </div>
</div>



<!-- Main content ends -->
{% endblock %}
