

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Things done in sprint",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing & why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Accessibility Changes – Problem with focus element</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Feedback from the clan changes – Fixing highlighted issues</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Employer & Provider telling the status of the apprentice – so they can tell who has signed and who is overdue</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Testing - comprehension and expectations</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Testing - Observed participants completing the service</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Testing - Asked participants opinion on the service</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Testing – Emails, Start Page, Completion, Navigation, Chang of Circumstance</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Created email journey and content for apprentices including initial email, reminders and confirmation email created as necessary alerts for apprentices to complete their journey in the 14 days and ready for UR testing</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Initial cookies page for service, a necessary page for the service</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Initial privacy page for service, a necessary page for the service</td>
                         </tr>











                    </tbody>
               </table>"
          }) }}


     </div>
</div>
