

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>We're finalising designs for user testing, which included custom content for each user tested.</td>
                              <td class='govuk-table__cell'>We hypothesise that questions is a better positioning than making statements and asking users to confirm</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Overhauled the How my apprenticeship will be delivered page</td>
                              <td class='govuk-table__cell'>To give more assurances to the users about our level of support</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Refining the My Apprenticeship summary page and let users know they can come leave and come back</td>
                              <td class='govuk-table__cell'>To simplify the roles and responsibilities for user comprehension</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Adding a support section for users to get help from knowledge articles, employer, provider and ESFA.</td>
                              <td class='govuk-table__cell'>We overhauled the How my apprenticeship will be delivered page to add information that wasn't just about training and to distinguish it from the Details of your apprenticeship page</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Refining the Roles and Responsibilities with input from policy</td>
                              <td class='govuk-table__cell'></td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Removed the Check your answers page</td>
                              <td class='govuk-table__cell'></td>
                         </tr>


                    </tbody>
               </table>"
          }) }}


     </div>
</div>
