{% extends "layout-provider.v1.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset%}

{% block pageTitle %}
  Manage your apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "./includes/training-provider-account-header.html" %}
<nav class="das-navigation" style="">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="reserve-reservations-pro">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="approvals/manage-apprentices">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="{{ version }}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button" href="{{ version }}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="{{ version }}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="govuk-width-container " id="">
  <a href="#"  onclick="history.go(-1)" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container " id="landing-page-section">
  <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Rufus Kelly</h1>
      <!-- 
  make conditional
      <details id="change-of-employer-details" class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with changes in apprentice's circumstances
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            If an apprentice you're training needs to move to a new employer, you should:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>contact their original employer and ask them to stop the apprentice record</li>
            <li>speak to the new employer to agree new training dates, price and request permission to move the
              apprentice to their apprenticeship service account</li>
          </ul>
          <p class="govuk-body">
          Once you've agreed these details, you can change the employer.
        </p>
          <p class="govuk-body">
          Non-levy employers will not need apprenticeship funding reserved when taking on an apprentice from another
          employer.
          </p>
        </div>
      </details> -->

      <h2 class="govuk-heading-m">Apprentice status</h2>
      <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
      </div>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Status</th>
            <td id="apprenticeship-status" class="govuk-table__cell">Live</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apprentice confirmation</th>
            <td id="apprenticeship-status" class="govuk-table__cell">Confirmed</td>
          </tr>
        </tbody>
      </table>
      
      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Overview</h2>
        </div>
        <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
        </div>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Employer</th>
            <td id="apprenticeship-employer" class="govuk-table__cell">LOCKHEED MARTIN AERONAUTICAL SYSTEMS SUPPORT COMPANY</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Reference</th>
            <td id="apprenticeship-reference" class="govuk-table__cell">VBPW7N</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Agreement ID</th>
            <td id="apprenticeship-agreement-id" class="govuk-table__cell">N4E66Y</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Apprentice</h2>
        </div>
        <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet"  style="text-align: right !important;">
          <a id="edit-apprentice-link"
            href="edit-details-as-is?apprentice={{data.apprentice}}"
            class="govuk-link govuk-body">Edit apprentice</a>
        </div>
      </div>
 
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <td id="apprentice-name" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].name or 'Rufus Kelly' }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email</th>
            <td id="apprentice-uln" class="govuk-table__cell"><a href="">rufus.kelly@gmail.com</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td id="apprentice-dob" class="govuk-table__cell">18 Feb 1995</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Unique learner number</th>
            <td id="apprentice-uln" class="govuk-table__cell">7230452014</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
            <td id="apprentice-course" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].standard or 'Actuarial technician, Level: 4 (Standard)' }}</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apprenticeship delivery model</th>
            <td id="apprentice-deliverymodel" class="govuk-table__cell">Regular</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Version</th>
            <td id="apprentice-course" class="govuk-table__cell">1.1</td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Planned training start date</th>
            <td id="apprentice-start-date" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].start or 'Sep 2022' }}</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Planned training end date</th>
            <td id="apprentice-end-date" class="govuk-table__cell">
              {{data.apprentices[data.apprentice].end or 'Apr 2029' }}</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Duration reduction due to prior learning</th>
            <td id="rpl-duration" class="govuk-table__cell" colspan="2">
                13 weeks
            </td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Price reduction due to prior learning</th>
            <td id="rpl-cost" class="govuk-table__cell" colspan="2">
                £2,000                    </td>
            <td class="govuk-table__cell"></td>
        </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
            <td id="apprentice-price" class="govuk-table__cell">£2,500</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Your reference</th>
            <td id="apprentice-reference" class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  </div>

{% endblock %}