{% extends "layout-landing-employer.html" %}

{% set serviceName %}
Manage apprenticeships
{% endset%}

{% block pageTitle %}
Manage your apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "./includes/employer-account-header.html" %}
<nav class="das-navigation" style="">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="#">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="{{ version }}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="{{ version }}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="govuk-width-container " id="">
  <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="addApprenticeship" novalidate method="post">

      <div id="draftApprenticeshipSection1" class="das-show">

        <h1 class="govuk-heading-xl">Edit personal details</h1>

        <div class="govuk-inset-text">
          <p class="govuk-body">You'll only be able to authorise payments for this apprentice once all the fields have
            been completed - either by yourself or your training provider.</p>
        </div>

        <!-- 
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Training provider
            </legend>
            <div>
              <span class="govuk-label">CENTRAL TRAINING ACADEMY LIMITED</span>
            </div>
          </fieldset>
        </div>

 -->
        <p class="govuk-body"><strong>Training provider</strong></p>
        <p class="govuk-body">CENTRAL TRAINING ACADEMY LIMITED</p>

        <p class="govuk-body"><strong>Apprentice name</strong></p>
        <p class="govuk-body">Cayce Pollard</p>

        <p class="govuk-body"><strong>Date of birth</strong></p>
        <p class="govuk-body">1 Jan 2000</p>

        <p class="govuk-body"><strong>Unique learner number</strong></p>
        <p class="govuk-body">1849618053</p>


        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="email">Email address</label>
          <span id="price-hint" class="govuk-hint">
            Note that this changes the email address that the apprentice uses to access their details. A confirmation
            email will be sent to this new address.
          </span>
          <span class="field-validation-valid govuk-error-message" data-valmsg-for="email" data-valmsg-replace="true"
            id="error-message-email"></span>
          <input class="govuk-input govuk-!-width-two-thirds" type="text" id="email" name="email"
            value="rufus.kelly@gmail.com">
        </div>

        <!-- 
        <dl class="govuk-summary-list">
          <dt class="govuk-summary-list__key">Apprentice name</dt>
          <dd class="govuk-summary-list__definition">Cayce Pollard</dd>
        </dl>
        <dl class="govuk-summary-list">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__definition">1 Jan 2000</dd>
        </dl>
        <dl class="govuk-summary-list">
          <dt class="govuk-summary-list__key">Unique learner number</dt>
          <dd class="govuk-summary-list__definition">1849618053</dd>
        </dl>
        <dl class="govuk-summary-list">
          <dt class="govuk-summary-list__key">Apprenticeship training course</dt>
          <dd class="govuk-summary-list__definition">Gas network craftsperson, Level: 3</dd>
        </dl>
 -->
        <input type="hidden" id="IsOnFlexiPaymentPilot" name="IsOnFlexiPaymentPilot" value="False" />
      </div>

      <button type="submit" id="continue-button" class="govuk-button das-js-hide">Continue</button>
      <a class="govuk-button govuk-button--warning das-float-right" href="">
        Delete
      </a>
    </form>

  </div>
</div>



<a class="govuk-link" href="/PJNDKW/unapproved/8JDY48/details" id="return-link">Return to group of apprentices</a>

{% endblock %}