{% extends "layout-provider.v1.html" %}

{% set serviceName %}
Manage apprenticeships
{% endset%}

{% block pageTitle %}
Manage your apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "./includes/training-provider-account-header.html" %}
<nav class="das-navigation" style="">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="home">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="#">Manage funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="manage-apprentices">Manage your
          apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="{{ version }}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="{{ version }}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="govuk-width-container " id="">
  <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container " id="landing-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6">
      <h1 class="govuk-heading-xl">Review the knowledge required for this apprenticeship standard </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <div class="">
        <p>This shows the duties split into the detailed of knowledge, skills and behaviours (KSBs) needed to complete
          this apprenticeship.</p>
        <p>Review each </p>
        <p><a
            href="https://www.instituteforapprenticeships.org/apprenticeship-standards/construction-site-supervisor-v1-0"
            class="govuk-link">View the full IFATE standard (opens in new tab)</a></p>
      </div>


      <h2 class="govuk-heading-m">Knowledge</h2>
      <table class="govuk-table data-tble">
        <tbody class="govuk-table__body">
          {% for knowledge in data.standards.knowledges %}
<!--           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <strong>K{{loop.index}}</strong>
            </th>
            <td class="govuk-table__cell">
              {{knowledge.detail}}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric width-one-fifth">
              <span class="">{{ knowledge_scores[loop.index0] }}</span>
            </td>
          </tr> -->

          <tr class="govuk-table__row">
             <!--  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint"> -->
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-hint">
                    <strong>K{{loop.index}}</strong> {{knowledge.detail}}
                  </h1>
                </legend>
<!--                 <div id="changed-name-hint" class="govuk-hint">
                  <strong>K{{loop.index}}</strong> {{knowledge.detail}}
                </div> -->
                <div class="govuk-radios  govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-6" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="K{{loop.index}}" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changed-name1">
                      1
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="K{{loop.index}}" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      2
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="K{{loop.index}}" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-3">
                      3
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="K{{loop.index}}" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name4">
                      4
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="K{{loop.index}}" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-5">
                      5
                    </label>
                  </div>
                </div>
                
             <!--  </fieldset> -->
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <a href="review-skills" class="govuk-button">Continue</a>
    </div>


  </div>

</div>
{% endblock %}