{% extends "layout.v1.html" %}

{% block pageTitle %}
Confirm your employer
{% endblock %}

{% set headerText="Mason Stone" %}
{% block beforeContent %}
{% include "./includes/account-header.html" %}
{% include "includes/beta-phase-banner.html" %}
<div class="govuk-width-container">
  {% include "includes/back-link.html" %}
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-l">Confirm your training provider</h1>





      <h2 class="govuk-heading-m">CENTRAL TRAINING ACADEMY LIMITED</h2>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help if you do not recognise your training provider's name
          </span>
        </summary>
        <div class="govuk-details__text">
          CENTRAL TRAINING ACADEMY LIMITED is your training provider's legal name registered with Companies House.
          You may know them by their trading name instead.
        </div>
      </details>

      <p class="govuk-body">
        Your off-the-job training, as agreed in your training plan, will be delivered during your
        normal working hours. You'll spend this time learning new knowledge, skills and
        behaviours for your apprenticeship. Your training provider will manage your off-the-job training.
      </p>


      <h3 class="govuk-heading-s">Things you need to know</h3>

      <div class="govuk-inset-text">
        <p class="govuk-body">Before starting your apprenticeship your training provider should have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>told you if you'll have any training delivered by another training provider</li>
          <li>given you a day-to-day contact who will support you through your apprenticeship</li>
        </ul>
      </div>


      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Is CENTRAL TRAINING ACADEMY LIMITED your
              training provider?</legend>
            <span class="govuk-error-message field-validation-valid" data-valmsg-for="Confirmed"
              data-valmsg-replace="true"></span>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Confirmed" name="Confirmed" type="radio" value="true~tasklist?providerStatus=complete">
                <label class="govuk-label govuk-radios__label" for="Confirmed">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="NotConfirmed" name="Confirmed" type="radio" value="false~cannot-confirm?details=training%20provider&providerStatus=incorrect">
                <label class="govuk-label govuk-radios__label" for="NotConfirmed">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
      </form>




    </div>
  </div>

</div>

{% endblock %}