<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Mapping out the user journeys for the initial scenarios</td>
                              <td class='govuk-table__cell'>To gain understanding and stakeholder feedback before creating a prototype for research</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Refine scenarios further prior to prototyping</td>
                              <td class='govuk-table__cell'>To ensure the first draft of prototype is accurate</td>
                         </tr>

                    </tbody>
               </table>"
          }) }}
          <p class="govuk-body govuk-!-font-weight-bold">Mapping out the "initial apprentice user" journey's and scenarios</p>
          <ul class="govuk-list govuk-list--bullet">
               <li>
                    <a href="https://miro.com/app/board/o9J_lfjcKV8=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">MIRO - Intial user journey</a>
                    <p>Password: <strong>teamavocado</strong></p>
               </li>
          </ul>
     </div>
</div>
