

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>



                   <tr class='govuk-table__row'>
                        <td class='govuk-table__cell'>We're altering the prototype to test with training providers</td>
                        <td class='govuk-table__cell'>We believe that by adding a day field to the date and more context to the page, we can improve the overall efficiency and accuracy of the service.</td>
                   </tr>
                   <tr class='govuk-table__row'>
                        <td class='govuk-table__cell'>Changed to radio buttons and question-led format</td>
                        <td class='govuk-table__cell'>Changed format for ease of user comprehension</td>
                   </tr>

                   <tr>
                         <td class='govuk-table__cell'>Changed to radio buttons and question-led format</td>
                         <td class='govuk-table__cell'>Added unhappy path so user can confirm with their employer and provider and come back</td>
                    </tr>
                    <tr class='govuk-table__row'>
                         <td class='govuk-table__cell'>Changed log in page to make more straightforward</td>
                         <td class='govuk-table__cell'>Radio buttons added to make it clearer what the user had to do</td>
                    </tr>
                    <tr>

                    <td class='govuk-table__cell'>Removed the option to see past apprenticeships (tabs on summary page)</td>
                    <td class='govuk-table__cell'>Removed past apprenticeships option because we thought it was unlikely users would find this useful</td>
                  </tr>


                    </tbody>
               </table>"
          }) }}


     </div>
</div>
