{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Create password</h1>

               <form method="post" action="2-identity-assurance" class="check-answers-page">

                    <h2 class="govuk-heading-m">Create your password</h2>

                    <span class="govuk-caption-m">
                         Your password must:
                         <ul class="govuk-list govuk-list--bullet">
                              <li>be at least 8 characters</li>
                              <li>contain at least one letter (a-z)</li>
                              <li>contain at least one number (0-9)</li>
                              <li>match with the confirmed password</li>
                         </ul>
                    </span>

                    <div class="govuk-form-group">
                         <div class="password-wrapper">
                              <input class="govuk-input govuk-input--width-20" id="apprentice-password" name="apprentice-password" type="password">
                              <input type="checkbox" onclick="showPassword()" id="hide-show-password">
                              <label class="hide-show-password govuk-heading-m" for="hide-show-password">
                                   SHOW
                              </label>
                         </div>
                    </div>

                    <div class="govuk-form-group">
                         <label class="govuk-label govuk-label--m" for="apprentice-confirm-password">Confirm your password</label>
                         <div class="password-wrapper">
                              <input class="govuk-input govuk-input--width-20" id="apprentice-confirm-password" name="apprentice-confirm-password" type="password">
                              <input type="checkbox" onclick="showConfirm()" id="hide-show-confirm">
                              <label class="hide-show-confirm govuk-heading-m" for="hide-show-confirm">
                                   SHOW
                              </label>
                         </div>
                    </div>

                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                         text: "Submit",
                         href: ""
                    }) }}
               </form>

               <!-- <h1 class="govuk-heading-xl">Sign-in/new users</h1>
               <!-- <h1 class="govuk-heading-xl">Sign-in/new users</h1>

               <h2 class="govuk-heading-m">I do not have an apprentice account</h2>
               <a href="2-identity-assurance" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Create account
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                         <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
               </a>

               <p>Or</p>

               <h2 class="govuk-heading-m">I already have an apprentice account</h2>
               <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Sign in
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                         <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
               </a> -->


               <!-- <div id="home-boxes">
                    <div id="home-boxes-left">
                         <div>
                              <h2 class="govuk-heading-m">I do not have an apprentice account</h2>
                              <p>
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare posuere.
                              </p>
                         </div>
                         <a href="2-create-account" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                              Create account
                              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                   <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                              </svg>
                         </a>
                    </div>
                    <div id="home-boxes-right">
                         <div>
                              <h2 class="govuk-heading-m">I already have an apprentice account</h2>
                              <p>
                                   Donec et urna euismod, aliquet mi eget, convallis neque. Morbi blandit neque eget risus ultricies
                                   commodo. Quisque dapibus ultricies dolor in gravida.
                              </p>
                         </div>
                         <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                              Sign in
                              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                   <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                              </svg>
                         </a>
                    </div>
               </div> -->

          </div>
     </div>


</div>
{% endblock %}
